{% extends "layout.html" %}

{% block pageTitle %}
Report a terminally ill patient (DS1500) - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="2final-sr1-or-ratip.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row-2">
       
    </style>
    <h1 class="govuk-heading-xl">
      You will need to complete an SR1 form for your patient who may have 6 to 12 months left to live
    </h1>



      
    <h2 class="govuk-heading-m">Our preferred method is editable PDF</h2>

    <p class="govuk-body">How to get an editable PDF
    </p> 

    <p class="govuk-body">To get a copy of the PDF email <a href="mailto:e-SR1@dwp.gov.uk">e-SR1@dwp.gov.uk</a> via a secure email system. </p>  
   

    <p class="govuk-body">Tell us in the email:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your surgery, hospital or office postal address and telephone number</li>
      <li>a list of medical professionals who may complete the SR1 forms</li>
      <li>whether you need the SR1 form and the fee form, or the SR1 form only</li>
    </ul>

    <p class="govuk-body">Secure email addresses end in @nhs.net, @nhs.uk, @wales.nhs.uk, @nhs.scot and ex.gov.uk
    </p>    

    <p class="govuk-body">Do not encrypt any part of the email. Any email that does not come from a secure email account will be automatically deleted. 
    </p>    
    <h2 class="govuk-heading-m">How to get paper forms</h2>

    <p class="govuk-body">You can <a href="#">order a book of blank paper paper copies</a></p>
    

    <p class="govuk-body">Tell us on headed paper:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your surgery, hospital or office postal address and telephone number</li>
      <li>a list of medical professionals who may complete the SR1 forms</li>
    </ul>

    <p class="govuk-body">
      Call the HH Global Limited helpline on 0333 016 9656 if you have any questions.</p>  
 
   
     
 
  



</div>
</div>




    <div class="govuk-grid-column-one-third">

      <div class="govuk-inset-text">
        <h5 class="govuk-heading-m">Get help</h5>

        <div class="govuk-!-padding-bottom-1"></div>
        <a href="sr1-guidance.html" class="govuk-link" rel="noreferrer noopener" target="_blank">Guidance for DS1500 and SR1 (opens in new tab)</a>
  

        <div class="govuk-!-padding-bottom-3"></div>
        <h6 class="govuk-heading-s">Telephone</h6>

        <ul class="govuk-list">
          <li>0300 303 5035</li>
          <li>24-hour service</li>
        </ul>

        <h6 class="govuk-heading-s">Email</h6>

        <ul class="govuk-list">
          <li><a href="ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
          <li>24-hour service</li>
        </ul>
      </div>

    </div>
    </div>

{% endblock %}
