{% extends "layout.html" %}

{% block pageTitle %}
Details - Report a terminally ill patient (DS1500) - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Guidance for the DS1500 and SR1 forms
      </h1>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#changes-to-special-rules">Changes to the Special Rules process in 2022</a>
        </li>
        <li>
          <a class="govuk-link" href="#complete-ds1500">When to complete a DS1500</a>
        </li>
        <li>
          <a class="govuk-link" href="#complete-sr1">When to complete an SR1</a>
        </li>
        <li>
          <a class="govuk-link" href="#about-your-patient">About your patient</a>
        </li>
        <li>
          <a class="govuk-link" href="#benefits-under-special-rules">Benefits that can be claimed under the special rules</a>
        </li>
        <li>
          <a class="govuk-link" href="#how-form-used-dwp">How this form will be used by DWP</a>
        </li>
       
        <li>
          <a class="govuk-link" href="#additional-requirements-and-confirmation">Telephone contact</a>
        </li>
        <li>
          <a class="govuk-link" href="#claiming-a-fee">Claiming a fee</a>
        </li>
    

      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m"><a id="changes-to-special-rules"></a>Changes to the Special Rules process in 2022</h3>

      <p class='govuk-body'>The Special Rules criteria are changing from applying to people with less than 6 months to live to applying to people with less than 12 months to live.</p>
  
      <p class='govuk-body'>Due to parliamentary constraints, the Department of Work and Pensions (DWP) can only change the rules for 2 out of 5 benefits from April 2022.</p>

      <p class='govuk-body'>These are Universal Credit (UC) and New Style Employment Support (ESA).</p>




      <p class='govuk-body'>There will be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>criteria for 2 sets of special rules to consider</li>
        <li>a new medical evidence form SR1, which will operate alongside the form DS1500</li>
      </ul>
      <p class='govuk-body'>This is a transitional period until the new rules are extended to all 5 benefits.</p>

      <p class='govuk-body'>Find out more about the <a href="https://www.gov.uk/government/publications/dwp-factual-medical-reports-guidance-for-healthcare-professionals" class="govuk-link" rel="noreferrer noopener" target="_blank">changes to the Special Rules and completing the forms (opens in a new tab).</a>


      <div class="govuk-!-padding-bottom-1"></div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  

     
     


      <h2 class="govuk-heading-m"><a id="complete-ds1500"></a>When to complete a DS1500</h2>

      <h3 class="govuk-heading-s">You should complete the DS1500 form promptly if you believe that your patient:</h3>
   
      <ul class="govuk-list govuk-list--bullet">
        <li>has a progressive disease, and </li>
        <li>as a consequence of that disease, you would not be surprised if your patient were to die within 6 months</li>
      </ul>
      <p>When you provide a DS1500 to DWP, it will be shared across all necessary benefit platforms. You do not need to complete a SR1 form as well.</p>


      <div class="govuk-!-padding-bottom-1"></div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a id="complete-sr1"></a>When to complete an SR1</h2>

   
      <h3 class="govuk-heading-s">You should complete the SR1 form promptly if you believe that your patient:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>has a progressive disease, and </li>
        <li>as a consequence of that disease you would not be surprised if your patient were to die within 12 months</li>
      </ul>
      <p>If you think that your patient has a shorter prognosis, for example, less than 6 months to live, complete a DS1500 instead.</p>


      <div class="govuk-!-padding-bottom-1"></div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a id="about-your-patient"></a>About your patient</h2>

      <h3 class="govuk-heading-s">Your patient’s prognosis</h3>
      <p class='govuk-body'>It is understood that determining life expectancy in these circumstances is not an exact science. You will not face any negative consequences from the factual information you supply, for example if your patient lives longer than expected.</p>

      <h3 class="govuk-heading-s">Patients who may not know the true nature of their illness</h3>
      <p class='govuk-body'>When a patient asks you to complete a DS1500 or SR1 form, do not assume that they understand the special rules criteria or that these criteria may apply to them. It may be an opportunity to initiate a conversation about advance care planning.</p>
      <h3 class="govuk-heading-s">Who should complete the SR1 or DS1500 form</h3>

      <p class='govuk-body'>This form can be completed by a registered clinician such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a GP</li>
        <li>a hospital doctor</li>
        <li>a registered nurse such as a Macmillian nurse, advanced nurse practitioner, clinical specialist nurse or practice nurse</li>
      </ul>

      <h3 class="govuk-heading-s">Third party claims</h3>
      <p class='govuk-body'>For Universal Credit and New Style Employment Support Allowance, only an appointee or a person who has power of attorney can make a third party claim on the patient’s behalf.</p>
      <p class='govuk-body'>For Disability Living Allowance, Attendance Allowance and Personal Independence Payment, any person representing the patient can make a third party claim on their behalf, even if the patient is unaware that a claim is being made. In this circumstance the form should be issued to the person that requested it.</p>


      <div class="govuk-!-padding-bottom-1"></div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m"><a id="benefits-under-special-rules"></a>Benefits that can be claimed under special rules</h3>



      <p class='govuk-body'>If your patient meets the 6-month special rules criteria, they can make claims for the following benefits:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Universal Credit</li>
        <li>New Style Employment and Support Allowance</li>
        <li>Personal Independence Payment</li>
        <li>Disability Living Allowance</li>
        <li>Attendance Allowance</li>
      </ul>

      <p class='govuk-body'>If your patient meets the new 12-month special rule criteria they can make claims for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Universal Credit</li>
        <li>New Style Employment and Support Allowance</li>
      </ul>

      <p class='govuk-body'>If your patient meets the Special Rules criteria, their benefit claim will be processed as a priority and they will not be required to attend an assessment.</p>

    
     
   

      

      <div class="govuk-!-padding-bottom-1"></div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m"><a id="how-form-used-dwp"></a>How this form will be used by DWP</h3>
      <p class="govuk-body">This form allows you to provide further evidence to enable us to make a decision on your patient’s claim. It is not a claim form, as you cannot claim on behalf of your patients. It will not normally be necessary for you to examine the patient. You may use your own knowledge and the patient’s records to get the information you need.</p>
      

      <div class="govuk-!-padding-bottom-1"></div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">





      <h3 class="govuk-heading-m"><a id="additional-requirements-and-confirmation"></a>Telephone contact</h3>

      <p class="govuk-body">As we need to deal with these claims urgently, the healthcare professional will usually contact you by telephone.</p>

      <p class="govuk-body">You may be contacted by a healthcare professional working for one of our clinical assessment providers if:</p>
    
      <ul class="govuk-list govuk-list--bullet">
        <li>if we need clarification of some of the information on the DS1500 to help with our decision about the claim, or</li>
        <li>the patient has made a claim under the Special Rules process but has not submitted a DS1500 or SR1 form and we need clinical information to support the claim</li>

      </ul>
     
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      
      <h3 class="govuk-heading-m"><a id="claiming-a-fee"></a>Claiming a fee</h3>

      <p>You can claim a fee if you are a GP or GMC registered consultant, but only if you have authorised the fee form by signing it.</p>
      <p>To claim your fee, download and fill out the form at the end.</p>
      <p>We will pay it into your bank or building society account.</p>
      <p>For claims to New Style Employment and Support Allowance or Universal Credit send the fee form to the nearest <a href="https://find-your-nearest-jobcentre.dwp.gov.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">Jobcentre Plus office (opens in a new tab).</a>
        
     

      <p>For all other benefits, send to the relevant address:</p>
   
      <ul class="govuk-list">
        <li><b> Personal Independence Payment (10)</b></li>
        <li>Mail Handling Site A</li>
        <li>Wolverhampton</li>
        <li>WV98 1AE</li>
      </ul>
      <div class="govuk-!-padding-bottom-3"></div>

      <ul class="govuk-list">
        <li><b> Disability Living Allowance Adult</b></li>
        <p class="govuk-body">For claimants born on or before 8 April 1948</p> 
   
        <li>Disability Living Allowance 65+</li>
        <li>Mail Handling Site A</li>
        <li>Wolverhampton</li>
        <li>WV98 2AH</li>
       
      </ul>
 <div class="govuk-!-padding-bottom-3"></div>

      <ul class="govuk-list">
        <li><b> Disability Living Allowance Adult</b></li>
        <p class="govuk-body">For claimants born on or before 9 April 1948</p> 
    
        <li>Disability Living Allowance</li>
        <li>Warbreck House</li>
        <li>Warbreck Hill</li>
        <li>Blackpool</li>
        <li>FY2 0YE</li>

        </ul>
 <div class="govuk-!-padding-bottom-3"></div>

        <ul class="govuk-list">
          <li><b> Disability Living Allowance Child</b></li>
          <li>Disability Benefit Centre 4</li>
          <li>Post Handling Site B</li>
          <li>Wolverhampton</li>
          <li>WV99 1BY</li>
      
        </ul>
 <div class="govuk-!-padding-bottom-3"></div>

           <ul class="govuk-list">
          <li><b>Attendance Allowance</b></li>
          <li>Attendance Allowance Unit</li>
          <li>Mail Handling Site A</li>
          <li>Wolverhampton</li>
          <li>WV98 2AD</li>
  
      </ul>
    
  </div>



  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Get help</h2>
     

    <h3 class="govuk-heading-s">Telephone</h3>

    <ul class="govuk-list">
      <li>0300 303 5035</li>
      <li>24-hour service</li>
    </ul>

    <h3 class="govuk-heading-s">Email</h3>

    <ul class="govuk-list">
      <li><a href="ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
      <li>24-hour service</li>
    </ul>
  </div>
</div>

{% endblock %}
