{% extends "layout.html" %}

{% block pageTitle %}
  401 error
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sorry, there is a problem
      </h1>

      <p>We were unable to authenticate you from the NHS spine portal.</p>
      <p>Please contact your NHS IT Service Desk to ensure that DS1500 is added as a 'Trusted Site' to your browser. Then try again.</p>
      <p>If the problem persists please contact <a href="dwp.digitalds1500@dwp.gov.uk">dwp.digitalds1500@dwp.gsi.gov.uk</a></p>

      {% endblock %}
