{% extends "layout.html" %}

{% block pageTitle %}
Report a terminally ill patient (DS1500) - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row-2">


    </style>
        <h1 class="govuk-heading-xl">
          Report a terminally ill patient (DS1500)
        </h1>

      <p>Use this service to tell the Department for Work and Pensions (DWP) that:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li>a patient has a severe progressive condition, and</li>
        <li>you would not be surprised if they were to live for less than 6 months</li>
      </ul>

<div class="govuk-inset-text">
You will not face any negative consequences from the factual information you supply, for example if your patient lives longer than 6 months.
</div>

      <p>Also use this service to download a copy of the DS1500 to save securely for your patient's records.</p>

      <a href="/1form-all-v10c" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>





      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          When you should complete the DS1500 Report Form
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>You should complete this form to support your patient's finances and to encourage your patient to see which benefits they may be entitled to. This can be done as part of a discussion about future care planning or if requested by your patient or their representative.</p>
            <h2 class="govuk-heading-s">
              Your patient’s prognosis
            </h2>
            <p>It is understood that determining life expectancy in these circumstances is not an exact science and so you will not face any negative consequences from the factual information you supply, for example if your patient lives longer than 6 months.</p>
            <h2 class="govuk-heading-s">
              Third party claims
            </h2>
            <p>For Disability Living Allowance, Attendance Allowance and Personal Independence Payment only, any person representing the patient can make a 3rd party claim on their behalf, even if the patient is unaware that a claim is being made. In this circumstance the form should be issued on request to the representative.</p>
            <h2 class="govuk-heading-s">
              Patients who may not know the true nature of their illness
            </h2>
            <p>When a patient asks you for a DS1500 form, please do not assume that they understand the special rules criteria or that these apply in certain circumstances to people with progressive, life-limiting disease.</p>
            <div class="govuk-!-padding-bottom-2"></div>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Who should complete the DS1500 Report Form
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p>This form can be completed by a registered clinician such as a:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>general practitioner</li>
              <li>hospital doctor</li>
              <li>registered nurse</li>
            </ul>

            <div class="govuk-inset-text">
            A registered nurse needs to have acquired the expert knowledge and clinical competencies to undertake the assessment. They may be working in a role such as an advanced nurse practitioner, a Macmillan nurse, a clinical specialist nurse or a practice nurse with expertise in long term conditions management.
            </div>

            <div class="govuk-!-padding-bottom-2"></div>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          How this form will be used by DWP
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p>This form allows you to provide further evidence to enable us to make a decision on your patient's claim. It is not a claim form, as you cannot claim on behalf of your patients. It will not normally be necessary for you to examine the patient. You may use your own knowledge and the patient's records to get the information you need.</p>
            <div class="govuk-!-padding-bottom-2"></div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          What to do with the completed form
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <h2 class="govuk-heading-s">
              Electronic return
            </h2>
            <p>The digital DS1500 service allows you to access and complete this form online. This means the form arrives instantly, which reduces waiting time for your patient.</p>
            <h2 class="govuk-heading-s">
              Personal Independence Payment
            </h2>
            <p>Alternatively, for Personal Independence Payment (England and Scotland) only, you can complete form DS1500 and the fee form electronically and submit it to us by using the NHSmail system. No signature is required. We can provide you with an electronic PDF version of the DS1500 and DS1500 fee form.</p>

            <p>We need you to provide the following information by email from your current NHS.net email address:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>your NHS.net email address or addresses</li>
              <li>your surgery/hospital/office postal address and telephone number</li>
              <li>a list of medical professionals using the same NHS.net email address who complete the DS1500 and/or DS1500 fee form</li>
              <li>whether you need the DS1500 and DS1500 fee form, or the DS1500 only</li>
            </ul>

            <p>Send this information to: <b>pip.e-ds1500@dwp.gsi.gov.uk</b></p>

            <p><b>Do not encrypt any part of the email.</b> Any email from a non-NHS.net account will be automatically deleted. If you do not have an NHS.net email address, contact your local IT helpdesk to request an account.</p>

            <h2 class="govuk-heading-s">
              Clerical return
            </h2>

            <p>To use the clerical return service, send your completed DS1500 form and claim fee form to us (see the Claiming a fee section).</p>

            <p>When returning DS1500 forms, ensure a separate envelope is used for each individual patient. Do not stable documents together.</p>
            <div class="govuk-!-padding-bottom-2"></div>

          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Claiming a fee
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p>You can claim a fee if you are a GP or GMC registered consultant, but only if you have authorised this form by signing it at the end.</p>
            <p>To claim your fee, fill out the fee claim form which will be presented at the end of the digital DS1500 form.</p>
            <p>We will pay your fee into your bank or building society account.</p>
            <div class="govuk-inset-text">
              MacMillan nurses, Nurse Specialists and practice nurses can complete the DS1500, but only GPs and GMC registered consultants may claim a fee.</div>
            <p><b>For claims to Employment and Support Allowance or Universal Credit</b></p>
            <p>Send the fee form to the nearest <a href="https://find-your-nearest-jobcentre.dwp.gov.uk">Jobcentre Plus office</a>.</p>
          <p><b>For claims to Personal Independence Payment, Disability Living Allowance or Attendance Allowance</b></p>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Relevant addresses
    </span>
              </summary>
              <div class="govuk-details__text">
                <h1 class="govuk-fieldset__heading">
                  <b>Personal Independence Payment</b>
                </h1>
                </legend>
                <div id="details-hint" class="govuk-hint">
                  16 – 64</div>
                  <div class="govuk-!-padding-bottom-0"></div>
                  <ul class="govuk-list">
                    <li>Personal Independence Payment (10)</li>
                    <li>Mail Handling Site A</li>
                    <li>Wolverhampton WV98 1AE</li>
                    <li class="govuk-!-margin-top-2">New claims: 0800 917 2222</li>
                    <li>Enquiries: 0800 121 4433</li>
                  </ul>

                <div class="govuk-!-padding-bottom-4"></div>

                <h1 class="govuk-fieldset__heading">
                  <b>Disability Living Allowance Adult</b>
                </h1>
                </legend>
                <div id="details-hint" class="govuk-hint">
                  Born on or before 8/4/1948</div>
                <div class="govuk-!-padding-bottom-0"></div>
                <ul class="govuk-list">
                  <li>Disability Living Allowance 65+</li>
                  <li>Mail Handling Site A</li>
                  <li>Wolverhampton</li>
                  <li>WV98 2AH</li>
                  <li class="govuk-!-margin-top-2">Telephone: 0800 731 0122</li>
                </ul>

                <div>

                  <div class="govuk-!-padding-bottom-4"></div>

                  <h1 class="govuk-fieldset__heading">
                    <b>Disability Living Allowance Adult</b>
                  </h1>
                  </legend>
                  <div id="details-hint" class="govuk-hint">
                    Born on or after 9/4/1948</div>
                  <div class="govuk-!-padding-bottom-0"></div>
                  <ul class="govuk-list">
                    <li>Disability Living Allowance</li>
                    <li>Warbreck House</li>
                    <li>Warbreck Hill</li>
                    <li>Blackpool</li>
                    <li>FY2 0YE</li>
                    <li class="govuk-!-margin-top-2">Telephone: 0800 121 4600</li>
                  </ul>

                  <div>

                    <div class="govuk-!-padding-bottom-4"></div>

                    <h1 class="govuk-fieldset__heading">
                      <b>Disability Living Allowance Child</b>
                    </h1>
                    </legend>
                    <div class="govuk-!-padding-bottom-2"></div>
                    <ul class="govuk-list">
                      <li>Disability Benefit Centre 4</li>
                      <li>Post Handling Site B</li>
                      <li>Wolverhampton</li>
                      <li>WV99 1BY</li>
                      <li class="govuk-!-margin-top-2">Telephone: 0800 121 4600</li>
                    </ul>

                    <div>

                      <div class="govuk-!-padding-bottom-4"></div>

                      <h1 class="govuk-fieldset__heading">
                        <b>Attendance Allowance</b>
                      </h1>
                      </legend>
                      <div class="govuk-!-padding-bottom-2"></div>
                      <ul class="govuk-list">
                        <li>Attendance Allowance Unit</li>
                        <li>Mail Handling Site A</li>
                        <li>Wolverhampton</li>
                        <li>WV98 2AD</li>
                        <li class="govuk-!-margin-top-2">Telephone: 0800 731 0122</li>
                      </ul>

                      <div>


                </div>
              </div>
            </details>

            <div class="govuk-!-padding-bottom-2"></div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Benefits that can be claimed under special rules
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p>Special rules claims can be made in the following benefits:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Universal Credit</li>
              <li>Employment and Support Allowance</li>
              <li>Personal Independence Payment</li>
              <li>Disability Living Allowance</li>
              <li>Attendance Allowance</li>
            </ul>
            <p>If your patient meets the special rules criteria, their benefit claim will be processed as a priority and in the majority of cases they will receive the highest rate of benefit.</p>
            <div class="govuk-!-padding-bottom-2"></div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Additional requirements and confirmation
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p>As we need to deal with these claims urgently, the healthcare professional will usually contact you by telephone.</p>
            <p><b>Telephone contact</b></p>
            <p>You may be contacted by a healthcare professional working for one of our clinical assessment providers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>if we need clarification of some of the information on the DS1500 to help with our decision about the claim, or</li>
              <li>if the patient has made a claim under the Special Rules procedures but has not submitted a DS1500 and we need clinical information to support the claim</li>
            </ul>
            <div class="govuk-!-padding-bottom-2"></div>
          </div>
        </div>
      </div>

        </fieldset>

      </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">Talk to an advisor</h2>

        <div class="govuk-!-padding-bottom-1"></div>

        <h3 class="govuk-heading-s">Telephone</h3>

        <ul class="govuk-list">
          <li>0300 303 5035</li>
          <li>24-hour service</li>
        </ul>

        <h3 class="govuk-heading-s">Email</h3>

        <ul class="govuk-list">
          <li><a href="ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
          <li>24-hour service</li>
        </ul>
      </div>

    </div>
    </div>

{% endblock %}
