{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Report submitted
          </h1>
          <div class="govuk-panel__body">
            Transaction ID: xxxxxxxxxxxxxxxxxxxxxxxxx
          </div>
        </div>

        <div class="govuk-!-padding-bottom-5"></div>

        <h2 class="govuk-heading-l">Download your DS1500 document</h2>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            This is your only chance to download these documents, so do it now.
          </strong>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <!DOCTYPE html>
            <style>
                              .ds1500-form {max-width: 80%}
                              .ds1500-form {max-height: auto%}
        </style>
            <center>
              <img src="/public/images/ds1500-form.png" class="ds1500-form" alt="An example of a DS1500 form">
            </center>
            </html>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-bottom-4"></div>
            <h2 class="govuk-heading-s">DS1500</h2>
            <p>Download a copy of this DS1500 for your own records</p>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Download DS1500
          </button>

        </div>

        <div class="govuk-!-padding-bottom-4"></div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <!DOCTYPE html>
            <style>
                              .fee-form {max-width: 80%}
                              .fee-form {max-height: auto}
        </style>
            <center>
              <img src="/public/images/fee-form.png" class="fee-form" alt="An example of a fee claim form">
            </center>
            </html>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-bottom-4"></div>
            <h2 class="govuk-heading-s">DS1500 Fee Form</h2>
            <p>Download the form for you to claim the fee of filling in this DS1500</p>
          </div>

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style = "left: 14px">
            <b>Download Fee Form</b>
          </button>
        </div>
          </div>
        </div>

    <div class="govuk-!-padding-bottom-7"></div>






    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Writing well for the web
        </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>This is the content for Writing well for the web.</p>
            </div>
          </div>
        </div>

    <h2 class="govuk-heading-m">Claiming a fee</h2>

    <p>You can claim a fee if you are a GP or GMC registered consultant, but only if you have authorised this form by signing it at the end.</p>
    <p>To claim your fee, fill out the fee claim form which will be presented at the end of the digital DS1500 form.</p>
    <p>We will pay your fee into your bank or building society account.</p>
    <div class="govuk-inset-text">
      MacMillan nurses, Nurse Specialists and practice nurses can complete the DS1500, but only GPs and GMC registered consultants may claim a fee.</div>
    <p><b>For claims to Employment and Support Allowance or Universal Credit</b></p>
    <p>Send the fee form to the nearest <a href="https://find-your-nearest-jobcentre.dwp.gov.uk">Jobcentre Plus office</a>.</p>
    <p><b>For claims to Personal Independence Payment, Disability Living Allowance or Attendance Allowance:</b></p>

    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Relevant addresses
    </span>
          </summary>
          <div class="govuk-details__text">
            <h1 class="govuk-fieldset__heading">
              <b>Personal Independence Payment</b>
            </h1>
            </legend>
            <div id="details-hint" class="govuk-hint">
              16 – 64</div>
            <div class="govuk-!-padding-bottom-0"></div>
            <ul class="govuk-list">
              <li>Personal Independence Payment (10)</li>
              <li>Mail Handling Site A</li>
              <li>Wolverhampton WV98 1AE</li>
              <li class="govuk-!-margin-top-2">New claims: 0800 917 2222</li>
              <li>Enquiries: 0800 121 4433</li>
            </ul>

            <div class="govuk-!-padding-bottom-4"></div>

            <h1 class="govuk-fieldset__heading">
              <b>Disability Living Allowance Adult</b>
            </h1>
            </legend>
            <div id="details-hint" class="govuk-hint">
              Born on or before 8/4/1948</div>
            <div class="govuk-!-padding-bottom-0"></div>
            <ul class="govuk-list">
              <li>Disability Living Allowance 65+</li>
              <li>Mail Handling Site A</li>
              <li>Wolverhampton</li>
              <li>WV98 2AH</li>
              <li class="govuk-!-margin-top-2">Telephone: 0800 731 0122</li>
            </ul>

            <div>

              <div class="govuk-!-padding-bottom-4"></div>

              <h1 class="govuk-fieldset__heading">
                <b>Disability Living Allowance Adult</b>
              </h1>
              </legend>
              <div id="details-hint" class="govuk-hint">
                Born on or after 9/4/1948</div>
              <div class="govuk-!-padding-bottom-0"></div>
              <ul class="govuk-list">
                <li>Disability Living Allowance</li>
                <li>Warbreck House</li>
                <li>Warbreck Hill</li>
                <li>Blackpool</li>
                <li>FY2 0YE</li>
                <li class="govuk-!-margin-top-2">Telephone: 0800 121 4600</li>
              </ul>

              <div>

                <div class="govuk-!-padding-bottom-4"></div>

                <h1 class="govuk-fieldset__heading">
                  <b>Disability Living Allowance Child</b>
                </h1>
                </legend>
                <div class="govuk-!-padding-bottom-2"></div>
                <ul class="govuk-list">
                  <li>Disability Benefit Centre 4</li>
                  <li>Post Handling Site B</li>
                  <li>Wolverhampton</li>
                  <li>WV99 1BY</li>
                  <li class="govuk-!-margin-top-2">Telephone: 0800 121 4600</li>
                </ul>

                <div>

                  <div class="govuk-!-padding-bottom-4"></div>

                  <h1 class="govuk-fieldset__heading">
                    <b>Attendance Allowance</b>
                  </h1>
                  </legend>
                  <div class="govuk-!-padding-bottom-2"></div>
                  <ul class="govuk-list">
                    <li>Attendance Allowance Unit</li>
                    <li>Mail Handling Site A</li>
                    <li>Wolverhampton</li>
                    <li>WV98 2AD</li>
                    <li class="govuk-!-margin-top-2">Telephone: 0800 731 0122</li>
                  </ul>

                </div>
              </div>
            </div>
          </details>

    <p class="govuk-body">
      <a href="1form-all-start-v7" class="govuk-link">Report another terminally ill patient</a>
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>

  </div>

</div>


</div>

</div>


{% endblock %}
