{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to tell the Department for Work and Pensions (DWP) that a patient:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>has a severe progressive condition</li>
        <li>could live less than 6 months</li>
      </ul>

      <p>Also use this service to download a copy of the information you give for your own records.</p>

<p>DWP will prioritise any benefit applications it gets from this patient.</p>

      <a href="/1form-all-v7" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>





      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          When you should complete the DS1500 Report Form
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>You should complete this form if you would like to encourage your patient to see which benefits they may be entitled to as part of a discussion about future care planning or if requested by your patient or their representative.</p>
            <h2 class="govuk-heading-s">
              Third party claims
            </h2>
            <p>For Disability Living Allowance, Attendance Allowance and Personal Independence Payment only, any person representing the patient can make a 3rd party claim on their behalf, even if the patient is unaware that a claim is being made. In this circumstance the form should be issued on request to the representative.</p>
            <h2 class="govuk-heading-s">
              Your patient’s prognosis
            </h2>
            <p>Determining life expectancy in these circumstances is not an exact science. This form asks for factual information and does not require you to give a prognosis. Use language that you would normally use when communicating with other clinicians.</p>
            <p>You will not face any negative consequences from the factual information you supply, for example if your patient lives longer than 6 months.</p>
            <h2 class="govuk-heading-s">
              Patients who may not know the true nature of their illness
            </h2>
            <p>When a patient asks you for a DS1500 form, please do not assume that they understand the special rules criteria or that these apply in certain circumstances to people with progressive, life-limiting disease.</p>
            <div class="govuk-!-padding-bottom-2"></div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          How this form will be used by DWP
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p>This form allows you to provide further evidence to enable us to make a decision on your patient’s claim. It is not a claim form, as you cannot claim on behalf of your patients. It will not normally be necessary for you to examine the patient. You may use your own knowledge and the patient’s records to get the information you need.</p>
          <p>This form can be completed by a registered clinician such as:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a General Practitioner</li>
              <li>a General Practitioner</li>
              <li>a registered nurse</li>
            </ul>
            <p>The registered nurse needs to have acquired the expert knowledge and clinical competencies to undertake the assessment. They may be working in a role such as an advanced nurse practitioner, a Macmillan nurse, a clinical specialist nurse or a practice nurse with expertise in long term conditions management.</p>
            <h2 class="govuk-heading-s">
              Telephone contact
            </h2>
          <p>You may be contacted by a healthcare professional working for one of our clinical assessment providers:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>if we need clarification of some of the information on the DS1500 to help with our decision about the claim, or</li>
              <li>if the patient has made a claim under the Special Rules procedures but has not submitted a DS1500 and we need clinical information to support the claim</li>
            <p>Because we need to deal with these claims urgently, the healthcare professional will usually contact you by telephone.</p>
            </ul>
            <div class="govuk-!-padding-bottom-2"></div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          What to do with the completed form
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <h2 class="govuk-heading-s">
              Electronic return
            </h2>
            <p>The digital DS1500 service allows you to access and complete this form online. This means the form arrives instantly, which reduces waiting time for your patient. This service is available from the NHS Portal on your desktop. You will need an NHS smartcard to access the service. Once you have accessed the NHS Portal, click on ‘Launch Digital DS1500 Service’ and complete the DS1500 submission online.</p>
            <p>Alternatively, for Personal Independence Payment (England and Scotland) only, you can complete form DS1500 and the fee form electronically and submit it to us by using the NHSmail system. No signature is required. We can provide you with an electronic PDF version of the DS1500 and DS1500 fee form. </p>
            <p></p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Claiming a fee
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class='govuk-body'>xxxxxxxx</p>
          </div>
        </div>
      </div>

{% endblock %}
