{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="1form-all-v6">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your report</h1>

      <h2 class="govuk-heading-m">Patient details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['patient-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['patient-birth-day'] }}
            {{ data['patient-birth-month'] }}
            {{ data['patient-birth-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['patient-address'] }}
            <br>{{ data['patient-address-1'] }}
            <br>{{ data['patient-town'] }}
            <br>{{ data['patient-county'] }}
            <br>{{ data['patient-post-code'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['national-insurance-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> national insurance number</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Diagnosis</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Diagnosis
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['diagnosis'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> diagnosis</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of diagnosis
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['diagnosis-month'] }}
            {{ data['diagnosis-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> diagnosis date</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other diagnosis
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['other-diagnosis'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> other diagnosis</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the patient aware of their prognosis?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['patient-awareness'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> Is the patient aware of their prognosis</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who asked you to complete this form?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['form-request'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> Who asked you to complete this form</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Clinical features</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Give details of the clinical features that indicate a severe progressive condition
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['clinical-features'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> clinical features</span>
            </a>
          </dd>
        </div>
        </dl>

      <h2 class="govuk-heading-m">Treatment</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Give details of the clinical features that indicate a severe progressive condition
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['treatment-details'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> treatment details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            If there are any interventions or treatments planned which could significantly change the progression of the patient's condition
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['treatment-further-details'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> other treatments</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Your details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            I am the patient’s
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['your-relationship'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> your relationship to patient</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your GMC number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['GMC-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> your name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['your-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> your name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your Trust
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['your-trust'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> your trust</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['your-address'] }}
            <br>{{ data['your-address-1'] }}
            <br>{{ data['your-town'] }}
            <br>{{ data['your-county'] }}
            <br>{{ data['your-post-code'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> your address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your phone number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['your-phone-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="1form-all-v6">
              Change
              <span class="govuk-visually-hidden"> your phone number</span>
            </a>
          </dd>
        </div>
      </dl>

      <div class="govuk-grid-row-2">
          <!DOCTYPE html>
          <style>
    .govuk-grid-row-2 {
    background-color: #005ea5;
    color: #fff;
    margin-top: 1.25em;
    margin-bottom: 2.25em;
    padding: 20px 40px 2px;
    }

    </style>
      <h2 style="color:white" class="govuk-heading-l">Now send your application</h2>

      <p style="color:white">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <p style="color:white" >You confirm that:</p>

      <ul style="color:white" class="govuk-list govuk-list--bullet">
        <li>the person named in this report is your patient</li>
        <li>this is a full report of their condition and treatment</li>
      </ul>

      <form action="1form-all-confirmation-v6" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <div class="govuk-!-padding-bottom-3"></div>

        <button type="submit" class="govuk-button" data-module="govuk-button" text-color="#005ea5">
          Accept and send
        </button>

      </form>
        </html>

      </div>

    </div>
  </div>
{% endblock %}
