{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="1Q-10-Treatment">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Treatment</h1>

      <form class="form" action="1Q-12-Your-Details" method="post">

        <div class="govuk-form-group">
<p>If there are any interventions or treatments planned which could significantly change the progression of the patient's condition, give details.</p>
          <textarea class="govuk-textarea" id="treatment-further-details" name="treatment-further-details" rows="5" aria-describedby="more-detail-hint" value="{{ data['treatment-further-details'] }}"></textarea>
        </div>

</div>

</div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
