{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="1Q-8-Diagnosis">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Clinical features</h1>

      <form class="form" action="1Q-10-Treatment" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="clinical-features">
              Give details of the clinical features that indicate a severe progressive condition.
            </label>
          </h1>
          <div id="more-detail-hint" class="govuk-hint">
            For example: the rate of progression, recurrence, staging, tumour markers, CD4 count and viral load, bulbar involvement, respiratory problems, heart failure.
          </div>
          <textarea class="govuk-textarea" id="clinical-features" name="clinical-features" rows="5" aria-describedby="more-detail-hint" value="{{ data['clinical-features'] }}"></textarea>
        </div>

</div>

</div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
