
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DS1500 Prototype Versions</h1>

        <h2 class="govuk-heading-m">Please find the DS1500 prototype versions currently under test and refinement.</h2>

      <p> Also known as <b>Report a terminally ill patient</b>.</p>

      <p> The Baseline Prototypes were initial developed leveraging the questions from the <a href="https://temp-ds1500.herokuapp.com/index">previous DS1500 Build</a>.</p>

      <p> For any questions, please contact <a href="mailto:david.doherty@engineering.digital.dwp.gov.uk">David Doherty</a>.
      </p>

      <!DOCTYPE html>
      <style>
                              .falcon {max-width: 15%}
                              .falcon {max-height: auto}
        </style>
      <center>
        <img src="/public/images/falcon.png" class="falcon" alt="team falcon logo">
      </center>
      </html>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Prototype for Developers
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p>This section is for the Development Team. Please note that various elements of the Prototype will be <b>subject to change</b> as per User Testing. The Design Team will coordinate changes with the BA Team.</p>

            <h2 class="govuk-heading-m">Sprint 11</h2>

            <form class="form" action="1form-start-sprint10" method="post">
              <div class="govuk-inset-text"><b>Sprint 11 Prototype</b> is designed for the Development Team. It incorporates what is currently in the Dev environment with Sprint 10's tickets: <b><a href="https://jira.service.dwpcloud.uk/browse/HTF-524">HTF-524</a>, <a href="https://jira.service.dwpcloud.uk/browse/HTF-613">HTF-613</a>, <a href="https://jira.service.dwpcloud.uk/browse/HTF-614">HTF-614</a>, <a href="https://jira.service.dwpcloud.uk/browse/HTF-635">HTF-635</a> and <a href="https://jira.service.dwpcloud.uk/browse/HTF-656">HTF-656</a></b>.</div>
              <button class="govuk-button" data-module="govuk-button"><b>Sprint 11 Prototype</b></button></form>

            <div class="govuk-!-padding-bottom-2"></div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Catalogue Prototype
    </span>
              </summary>
              <div class="govuk-details__text">
                <form class="form" action="1form-start-catalogue" method="post">
                  <div class="govuk-inset-text"><b>Catalogue Prototype</b> is designed for the Development Team.</b> Please develop the look and feel of the prototype and <b>do not replicate the code</b>.</div>
                  <button class="govuk-button" data-module="govuk-button">Catalogue Prototype</button></form>              </div>
            </details>

            <div class="govuk-!-padding-bottom-1"></div>

          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Feedback Form for Developers
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p>This section is for the Development Team. It shows a GDS-refreshed version of the original Feedback From. It is to be URL link on the confirmation page when users click <b>What did you think of this service? (takes 30 seconds)</b></p>

            <form class="form" action="1form-all-feedback" method="post">
              <div class="govuk-inset-text">The <b>Feedback Form</b> is designed for the Development Team. Please develop the look and feel of the prototype and <b>do not replicate the code</b>.</div>
              <button class="govuk-button" data-module="govuk-button">Feedback Form Prototype</button></form>

          </div>
        </div>







        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Error Messages for Developers
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p>This section is for the Development Team. Please note that various elements of the Prototype will be <b>subject to change</b> as per User Testing. The Design Team will coordinate changes with the BA Team.</p>

            <form class="form" action="1form-timeout-error" method="post">
              <div class="govuk-inset-text"><b>Timeout Error Prototype</b> is designed for the Development Team to represent the <b>service timing out after 30 minutes of inactivity</b>. Please develop the look and feel of the prototype and <b>do not replicate the code</b>.</div>
              <button class="govuk-button" data-module="govuk-button">Timeout Error Prototype</button></form>

            <form class="form" action="1form-503-error" method="post">
              <div class="govuk-inset-text"><b>503 Error Prototype</b> is designed for the Development Team to represent the 503 Error page: <b>'Shutter error'</b>. Please develop the look and feel of the prototype and <b>do not replicate the code</b>.</div>
              <button class="govuk-button" data-module="govuk-button">503 Error Prototype</button></form>

            <form class="form" action="1form-403-error" method="post">
              <div class="govuk-inset-text"><b>403 Error Prototype</b> is designed for the Development Team to represent the 403 Error page: <b>'Unauthorised user attempts to submit DS1500'</b>. Please develop the look and feel of the prototype and <b>do not replicate the code</b>.</div>
              <button class="govuk-button" data-module="govuk-button">403 Error Prototype</button></form>

            <form class="form" action="1form-401-error" method="post">
              <div class="govuk-inset-text"><b>401 Error Prototype</b> is designed for the Development Team to represent the 401 Error page: <b>'Spine portal unable to reach DS1500 service'</b>. Please develop the look and feel of the prototype and <b>do not replicate the code</b>.</div>
              <button class="govuk-button" data-module="govuk-button">401 Error Prototype</button></form>

            <form class="form" action="1form-500-error" method="post">
              <div class="govuk-inset-text"><b>500 Error Prototype</b> is designed for the Development Team to represent the 500 Error page: <b>'	DS1500 service unavailable'</b>. Please develop the look and feel of the prototype and <b>do not replicate the code</b>.</div>
              <button class="govuk-button" data-module="govuk-button">500 Error Prototype</button></form>

          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Prototypes for Design Team for User Testing
        </span>
            </h2>
          </div>

          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

            <p>This section is for the Design Team to test new features with users. This section is <b>not</b> for the Development Team. The Development Team should refer to <b>Prototype for Developers</b> section.</p>

            <form class="form" action="start" method="post">
              <div class="govuk-inset-text"> Prototype v1 is designed with <b>several questions per page</b></div>
              <button class="govuk-button" data-module="govuk-button">Prototype v1</button></form>

            <form class="form" action="1Q-start" method="post">
              <div class="govuk-inset-text"> Prototype v2 is designed with <b>1 question per page</b></div>
              <button class="govuk-button" data-module="govuk-button">Prototype v2</button></form>

            <form class="form" action="1form-start" method="post">
              <div class="govuk-inset-text"> Prototype v3 is designed with <b>all questions on one single page.</b> Please note that this prototype does not have <b>check your answers functionality</b> due to fear of duplication</div>
              <button class="govuk-button" data-module="govuk-button">Prototype v3</button></form>

            <form class="form" action="1form-start-v2" method="post">
              <div class="govuk-inset-text"> Prototype v4 is designed with <b>all questions on one single page.</b> Since a <b>check your answers</b> functionality is not recommended to avoid duplication, Prototype v4 tests a <b>YES/NO Radio component</b> at the end of the form stating: <i>have you checked all the information you have entered for errors?</i></div>
              <button class="govuk-button" data-module="govuk-button">Prototype v4</button></form>

            <form class="form" action="1form-start-v5" method="post">
              <div class="govuk-inset-text"> Prototype v5 is designed with <b>all questions on one single page.</b> Further user research has indicated that users may actually <b>want</b> a <b>check your answers</b> page as it is a chance to "preview" the application before its submitted. Therefore this prototype contains "check your answers" functionality</div>
              <button class="govuk-button" data-module="govuk-button">Prototype v5</button></form>

            <form class="form" action="1form-start-v6" method="post">
              <div class="govuk-inset-text"> Prototype v6 experiments with some new minor designs and components to aid the flow of the service, with the aim of A/B Testing them.</div>
              <button class="govuk-button" data-module="govuk-button">Prototype v6</button></form>

            <form class="form" action="1form-start-v7" method="post">
              <div class="govuk-inset-text"> Prototype v7 experiments with builds from a team workshop on Friday 8th Jan.</div>
              <button class="govuk-button" data-module="govuk-button">Prototype v7</button></form>

            <form class="form" action="1form-start-v8" method="post">
              <div class="govuk-inset-text"> Prototype v8 implements with builds from a series of UR sessions with medical professionals starting 2nd February 2021.</div>
              <button class="govuk-button" data-module="govuk-button">Prototype v8</button></form>

          </div>
      </div>

          </div>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          'Prototypes for Design Team for User Testing' are not for production!
        </strong>
      </div>

    </div>
  </div>

{% endblock %}
