{% extends "layout.html" %}

{% block pageTitle %}
Details - Report a terminally ill patient (DS1500) - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="v14-start">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      Contents
      </h1>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#when-you-should-complete-the-ds1500-report-form">When you should complete the DS1500 Report Form</a>
        </li>
        <li>
          <a class="govuk-link" href="#who-should-complete-the-ds1500-report-form">Who should complete the DS1500 Report Form</a>
        </li>
        <li>
          <a class="govuk-link" href="#how-this-form-will-be-used-by-dwp">How this form will be used by DWP</a>
        </li>
        <li>
          <a class="govuk-link" href="#what-to-do-with-the-completed-form">What to do with the completed form</a>
        </li>
        <li>
          <a class="govuk-link" href="#claiming-a-fee">Claiming a fee</a>
        </li>
        <li>
          <a class="govuk-link" href="#benefits-that-can-be-claimed-under-special-rules">Benefits that can be claimed under special rules</a>
        </li>
        <li>
          <a class="govuk-link" href="#additional-requirements-and-confirmation">Additional requirements and confirmation</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m"><a id="when-you-should-complete-the-ds1500-report-form">When you should complete the DS1500 Report Form</a></h3>

      <p class='govuk-body'>You should complete this form to support your patient's finances and to encourage your patient to see which benefits they may be entitled to. This can be done as part of a discussion about future care planning or if requested by your patient or their representative.</p>
      <h4 class="govuk-heading-s">
        Your patient’s prognosis
      </h4>
      <p>It is understood that determining life expectancy in these circumstances is not an exact science and so you will not face any negative consequences from the factual information you supply, for example if your patient lives longer than 6 months.</p>
      <h4 class="govuk-heading-s">
        Third party claims
      </h4>
      <p>For Disability Living Allowance, Attendance Allowance and Personal Independence Payment only, any person representing the patient can make a 3rd party claim on their behalf, even if the patient is unaware that a claim is being made. In this circumstance the form should be issued on request to the representative.</p>
      <h4 class="govuk-heading-s">
        Patients who may not know the true nature of their illness
      </h4>
      <p>When a patient asks you for a DS1500 form, please do not assume that they understand the special rules criteria or that these apply in certain circumstances to people with progressive, life-limiting disease.</p>
      <div class="govuk-!-padding-bottom-1"></div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m"><a id="who-should-complete-the-ds1500-report-form">Who should complete the DS1500 Report Form</a></h3>

      <p>This form can be completed by a registered clinician such as a:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>general practitioner</li>
        <li>hospital doctor</li>
        <li>registered nurse</li>
      </ul>

      <div class="govuk-inset-text">
        A registered nurse needs to have acquired the expert knowledge and clinical competencies to undertake the assessment. They may be working in a role such as an advanced nurse practitioner, a Macmillan nurse, a clinical specialist nurse or a practice nurse with expertise in long term conditions management.
      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m"><a id="how-this-form-will-be-used-by-dwp">How this form will be used by DWP</a></h3>

      <p>This form allows you to provide further evidence to enable us to make a decision on your patient's claim. It is not a claim form, as you cannot claim on behalf of your patients. It will not normally be necessary for you to examine the patient. You may use your own knowledge and the patient's records to get the information you need.</p>

      <div class="govuk-!-padding-bottom-1"></div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m"><a id="what-to-do-with-the-completed-form">What to do with the completed form</a></h3>

      <h4 class="govuk-heading-s">
        Electronic return
      </h4>
      <p>The digital DS1500 service allows you to access and complete this form online. This means the form arrives instantly, which reduces waiting time for your patient.</p>
      <h4 class="govuk-heading-s">
        Personal Independence Payment
      </h4>
      <p>Alternatively, for Personal Independence Payment (England and Scotland) only, you can complete form DS1500 and the fee form electronically and submit it to us by using the NHSmail system. No signature is required. We can provide you with an electronic PDF version of the DS1500 and DS1500 fee form.</p>

      <p>We need you to provide the following information by email from your current NHS.net email address:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your NHS.net email address or addresses</li>
        <li>your surgery/hospital/office postal address and telephone number</li>
        <li>a list of medical professionals using the same NHS.net email address who complete the DS1500 and/or DS1500 fee form</li>
        <li>whether you need the DS1500 and DS1500 fee form, or the DS1500 only</li>
      </ul>

      <p>Send this information to: <b>pip.e-ds1500@dwp.gsi.gov.uk</b></p>

      <p><b>Do not encrypt any part of the email.</b> Any email from a non-NHS.net account will be automatically deleted. If you do not have an NHS.net email address, contact your local IT helpdesk to request an account.</p>

      <h4 class="govuk-heading-s">
        Clerical return
      </h4>

      <p>To use the clerical return service, send your completed DS1500 form and claim fee form to us (see the Claiming a fee section).</p>

      <p>When returning DS1500 forms, ensure a separate envelope is used for each individual patient. Do not stable documents together.</p>

      <div class="govuk-!-padding-bottom-1"></div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m"><a id="claiming-a-fee">Claiming a fee</a></h3>

      <p>You can claim a fee if you are a GP or GMC registered consultant, but only if you have authorised this form by signing it at the end.</p>
      <p>To claim your fee, fill out the fee claim form which will be presented at the end of the digital DS1500 form.</p>
      <p>We will pay your fee into your bank or building society account.</p>
      <div class="govuk-inset-text">
        MacMillan nurses, Nurse Specialists and practice nurses can complete the DS1500, but only GPs and GMC registered consultants may claim a fee.</div>
      <p><b>For claims to Employment and Support Allowance or Universal Credit</b></p>
      <p>Send the fee form to the nearest <a href="https://find-your-nearest-jobcentre.dwp.gov.uk">Jobcentre Plus office</a>.</p>
      <p><b>For claims to Personal Independence Payment, Disability Living Allowance or Attendance Allowance</b></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Relevant addresses
    </span>
        </summary>
        <div class="govuk-details__text">
          <h6 class="govuk-fieldset__heading">
            <b>Personal Independence Payment</b>
          </h6>
          </legend>
          <div id="details-hint" class="govuk-hint">
            16 – 64</div>
          <div class="govuk-!-padding-bottom-0"></div>
          <ul class="govuk-list">
            <li>Personal Independence Payment (10)</li>
            <li>Mail Handling Site A</li>
            <li>Wolverhampton WV98 1AE</li>
            <li class="govuk-!-margin-top-2">New claims: 0800 917 2222</li>
            <li>Enquiries: 0800 121 4433</li>
          </ul>

          <div class="govuk-!-padding-bottom-4"></div>

          <h6 class="govuk-fieldset__heading">
            <b>Disability Living Allowance Adult</b>
          </h6>
          </legend>
          <div id="details-hint" class="govuk-hint">
            Born on or before 8/4/1948</div>
          <div class="govuk-!-padding-bottom-0"></div>
          <ul class="govuk-list">
            <li>Disability Living Allowance 65+</li>
            <li>Mail Handling Site A</li>
            <li>Wolverhampton</li>
            <li>WV98 2AH</li>
            <li class="govuk-!-margin-top-2">Telephone: 0800 731 0122</li>
          </ul>

          <div>

            <div class="govuk-!-padding-bottom-4"></div>

            <h6 class="govuk-fieldset__heading">
              <b>Disability Living Allowance Adult</b>
            </h6>
            </legend>
            <div id="details-hint" class="govuk-hint">
              Born on or after 9/4/1948</div>
            <div class="govuk-!-padding-bottom-0"></div>
            <ul class="govuk-list">
              <li>Disability Living Allowance</li>
              <li>Warbreck House</li>
              <li>Warbreck Hill</li>
              <li>Blackpool</li>
              <li>FY2 0YE</li>
              <li class="govuk-!-margin-top-2">Telephone: 0800 121 4600</li>
            </ul>

            <h6 class="govuk-fieldset__heading">
              <b>Disability Living Allowance Child</b>
            </h6>
            </legend>
            <div class="govuk-!-padding-bottom-2"></div>
            <ul class="govuk-list">
              <li>Disability Benefit Centre 4</li>
              <li>Post Handling Site B</li>
              <li>Wolverhampton</li>
              <li>WV99 1BY</li>
              <li class="govuk-!-margin-top-2">Telephone: 0800 121 4600</li>
            </ul>

            <div>

              <div class="govuk-!-padding-bottom-4"></div>

              <h6 class="govuk-fieldset__heading">
                <b>Attendance Allowance</b>
              </h6>
              </legend>
              <div class="govuk-!-padding-bottom-2"></div>
              <ul class="govuk-list">
                <li>Attendance Allowance Unit</li>
                <li>Mail Handling Site A</li>
                <li>Wolverhampton</li>
                <li>WV98 2AD</li>
                <li class="govuk-!-margin-top-2">Telephone: 0800 731 0122</li>
              </ul>


              <div>

      </details>

      <div class="govuk-!-padding-bottom-1"></div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m"><a id="benefits-that-can-be-claimed-under-special-rules">Benefits that can be claimed under special rules</a></h3>

      <p>Special rules claims can be made in the following benefits:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Universal Credit</li>
        <li>Employment and Support Allowance</li>
        <li>Personal Independence Payment</li>
        <li>Disability Living Allowance</li>
        <li>Attendance Allowance</li>
      </ul>
      <p>If your patient meets the special rules criteria, their benefit claim will be processed as a priority and in the majority of cases they will receive the highest rate of benefit.</p>

      <div class="govuk-!-padding-bottom-1"></div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m"><a id="additional-requirements-and-confirmation">Additional requirements and confirmation</a></h3>

      <p>As we need to deal with these claims urgently, the healthcare professional will usually contact you by telephone.</p>
      <h4 class="govuk-heading-s">
        Telephone contact
      </h4>
      <p>You may be contacted by a healthcare professional working for one of our clinical assessment providers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>if we need clarification of some of the information on the DS1500 to help with our decision about the claim, or</li>
        <li>if the patient has made a claim under the Special Rules procedures but has not submitted a DS1500 and we need clinical information to support the claim</li>
      </ul>
      <div class="govuk-!-padding-bottom-1"></div>


  </div>



  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
    <h2 class="govuk-heading-m">Get help</h2>
    <a href="v14-guidance.html" class="govuk-link" rel="noreferrer noopener" target="_blank">Additional guidance (opens in new tab)</a>
    <div class="govuk-!-padding-bottom-2"></div>

    <h3 class="govuk-heading-s">Telephone</h3>

    <ul class="govuk-list">
      <li>0300 303 5035</li>
      <li>24-hour service</li>
    </ul>

    <h3 class="govuk-heading-s">Email</h3>

    <ul class="govuk-list">
      <li><a href="ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
      <li>24-hour service</li>
    </ul>
  </div>
</div>

{% endblock %}
