{% extends "layout.html" %}

{% block pageTitle %}
Report submitted - Report a terminally ill patient (DS1500) - GOV.UK
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <a href="/v14-check-your-answers" class="govuk-back-link">Back</a>
        <div class="govuk-!-padding-bottom-5"></div>
        <h2 class="govuk-heading-l">Download your documents</h2>

        <div class="govuk-inset-text">
          This is the only time you will be able to download these documents.
        </div>

        
        

        

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <!DOCTYPE html>
            <style>
                              .ds1500-form {max-width: 80%}
                              .ds1500-form {max-height: auto}
        </style>
            <center>
              <img src="/public/images/ds1500-form.png" class="ds1500-form" alt="An example of a DS1500 form">
            </center>
            </html>


          </div>
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-bottom-15"></div>
          </div>
<h2 class="govuk-heading-m">DS1500 form</h2>
          <a href="v14-download-copy.html" class="govuk-link govuk-!-font-size-24">PDF download</a>
          <div class="govuk-!-padding-bottom-4"></div>
          <a href="v14-download-copy.html" class="govuk-link govuk-!-font-size-24">HTML download</a>
          <div class="govuk-!-padding-bottom-4"></div>
          <p class="govuk-body">You must download the form and store it securely in your patient records.</p>
          

      </div>

      <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <!DOCTYPE html>
            <style>
                              .fee-form {max-width: 80%}
                              .fee-form {max-height: auto}
        </style>
            <center>
              <img src="/public/images/fee-form.png" class="fee-form" alt="An example of a fee claim form">
            </center>
            </html>

          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">DS1500 fee claim form</h2>
            
            <a href="#" class="govuk-link govuk-!-font-size-24">PDF download </a>
          <div class="govuk-!-padding-bottom-4"></div>
          <a href="#" class="govuk-link govuk-!-font-size-24">HTML download </a>
          <div class="govuk-!-padding-bottom-6"></div>
          </div>

        
        </div>
        <div class="govuk-!-padding-bottom-6"></div>

        <form class="form" action="v14-confirmation" method="post">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <div class="govuk-!-padding-bottom-17"></div>
        </form>


        </div>

      <div class="govuk-!-padding-bottom-4"></div>

      <div class="govuk-grid-column-one-third">

        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">Get help</h2>


          <a href="v14-guidance.html" class="govuk-link" rel="noreferrer noopener" target="_blank">Guidance for the DS1500 (opens in new tab)</a>

          <div class="govuk-!-padding-bottom-4"></div>

          <h3 class="govuk-heading-s">Telephone</h3>

          <ul class="govuk-list">
            <li>0300 303 5035</li>
            <li>24-hour service</li>
          </ul>

          <h3 class="govuk-heading-s">Email</h3>

          <ul class="govuk-list">
            <li><a href="ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
            <li>24-hour service</li>
          </ul>
        </div>

      </div>
        </div>




   

  </div>

</div>


</div>

</div>


{% endblock %}
