{% extends "layout.html" %}

{% block pageTitle %}
Report submitted - Report a terminally ill patient (DS1500) - GOV.UK
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Report submitted
          </h1>
          <div class="govuk-panel__body">
            Transaction ID: xxxxxxxxxxxxxxxxxxxxxxxxx
          </div>
        </div>
        <div class="govuk-!-padding-bottom-5"></div>
        <h2 class="govuk-heading-l">What happens next</h2>
        <p class="govuk-body">The form has been sent to the DWP.</p>
        <p class="govuk-body">If you require any further information contact NHS service desk.</p>
      
        <h2 class="govuk-heading-l">Download your documents</h2>

        <div class="govuk-inset-text">
          This is the only time you will be able to do it.
        </div>

        
        

        

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <!DOCTYPE html>
            <style>
                              .ds1500-form {max-width: 80%}
                              .ds1500-form {max-height: auto}
        </style>
            <center>
              <img src="/public/images/ds1500-form.png" class="ds1500-form" alt="An example of a DS1500 form">
            </center>
            </html>


          </div>
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-bottom-15"></div>
          </div>

          <a href="#" class="govuk-link govuk-!-font-size-27">DS1500 form</a>
          <div class="govuk-!-padding-bottom-4"></div>
          <p class="govuk-body">You must download the form and store it securely in your patient records.</p>
          

      </div>

      <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <!DOCTYPE html>
            <style>
                              .fee-form {max-width: 80%}
                              .fee-form {max-height: auto}
        </style>
            <center>
              <img src="/public/images/fee-form.png" class="fee-form" alt="An example of a fee claim form">
            </center>
            </html>

          </div>
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-bottom-4"></div>
            <a href="#" class="govuk-link govuk-!-font-size-27">DS1500 fee claim form</a>
          <div class="govuk-!-padding-bottom-4"></div>
          <p class="govuk-body">Claim your fee for completing the DS1500</p>
          <div class="govuk-!-padding-bottom-6"></div>
          </div>

        
        </div>
        <div class="govuk-!-padding-bottom-6"></div>

       
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            


          </div>
          <div class="govuk-grid-column-two-thirds">
            
          </div>

          

      </div>

     
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            

          </div>
          <div class="govuk-grid-column-two-thirds">
         
            
          </div>

          

        </div>

  



        </div>

      <div class="govuk-!-padding-bottom-4"></div>

      <div class="govuk-grid-column-one-third">

        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">Get help</h2>
          <a href="v14-guidance.html" class="govuk-link" rel="noreferrer noopener" target="_blank">Additional guidance for the DS1500 (opens in new tab)</a>
          <div class="govuk-!-padding-bottom-4"></div>

          <h3 class="govuk-heading-s">Telephone</h3>

          <ul class="govuk-list">
            <li>0300 303 5035</li>
            <li>24-hour service</li>
          </ul>

          <h3 class="govuk-heading-s">Email</h3>

          <ul class="govuk-list">
            <li><a href="ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
            <li>24-hour service</li>
          </ul>
        </div>

      </div>
        </div>




    <p class="govuk-body">
      <a href="v14-start" class="govuk-link">Report another terminally ill patient</a>
    </p>

    <p class="govuk-body">
      <a href="v14-confirmation.html" class="govuk-link">What did you think of this service?</a>
    </p>

  </div>

</div>


</div>

</div>


{% endblock %}
