{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="your-details-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your details</h1>

      <form class="form" action="/check-your-answers-v1" method="post">

        <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Your address
        </h1>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="your-address">
          Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
        </label>
        <input class="govuk-input" id="your-address" name="your-address" type="text" value="{{ data['your-address'] }}"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="your-address-1">
          <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
        </label>
        <input class="govuk-input" id="your-address-1" name="your-address-1" type="text" value="{{ data['your-address-1'] }}"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="your-town">
          Town or city
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="your-town" name="your-town" type="text" value="{{ data['your-town'] }}"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="your-county">
          County
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="your-county" name="your-county" type="text" value="{{ data['your-county'] }}"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="your-post-code">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-10" id="your-post-code" name="your-post-code" type="text" value="{{ data['your-post-code'] }}"></div>

    </fieldset>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
