{% extends "layout.html" %}

{% block pageTitle %}
Page not found - Send an SR1 - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Page not found
      </h1>

   

      <p>If you typed the web address, check it's correct. If you copied and pasted the web address, make sure you copied all of the address.</p>

      <p><a href="/start">Return to start page</a></p>

     
{% endblock %}
