{% extends "layout.html" %}

{% block pageTitle %}
Sorry, there is a problem with the service - Send an SR1 - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Sorry, there is a problem with the service
      </h1>

   

      <p>Please try again later.</p>

      <p>We have not saved your answers. When the service is available, you will have to start again.</p>

      <p>If you continue to have problems please contact the NHS Service Desk at: <a href="https://www.nhscfhservicedesk.nhs.uk">https://www.nhscfhservicedesk.nhs.uk</a></p>
      
      <p>If you do not have an account to log incidents with the NHS National Service Desk call 0300 303 5035.</p>
      <h2 class="govuk-heading-m">If you need to complete an SR1 form now</h2>
      <p>You can complete PDF versions of the SR1 and the fee claim forms online. They do not need to be signed, but you’ll need to return them to us from a secure email address. Any email that does not come from a secure email address will be automatically deleted.</p>
      
      <p>Secure email addresses end in:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><kbd>@nhs.net</kbd></li>
        <li><kbd>@nhs.uk</kbd></li>
        <li><kbd>@nhs.scot</kbd></li>
        <li><kbd>@nhs.wales.uk</kbd></li>
        <li><kbd>@gov.uk</kbd></li> 
        </ul>
      
        <p>Send the request for a PDF version of the SR1 form, and fee claim form if needed, from your secure email address to <a href="#">form.e-sr1@dwp.gov.uk.</a></p>
      <p>Please include your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>surgery/hospital/postal address</li>
        <li>phone number</li>
<p>Do not encrypt any part of the email.</p>
{% endblock %}
