{% extends "layout.html" %}

{% block pageTitle %}
Sorry, there is a problem with the service - Send an SR1 - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Sorry, there is a problem with the service - error 502
      </h1>

   

      <p>Please try again later.</p>

      <p>We have not saved your answers. When the service is available, you will have to start again.</p>

      <p>If you continue to have problems please contact the NHS Service Desk at: <a href="https://www.nhscfhservicedesk.nhs.uk/">https://www.nhscfhservicedesk.nhs.uk/</a></p>
      
      <p>If you do not have an account to log incidents with the NHS National Service Desk call 0300 303 5035.</p>
<p>If you still need to complete an SR1 form, You can complete PDF versions of the SR1 and the fee claim forms online. They do not need a signature, but you’ll need to return them to us from an <kbd>nhs.net</kbd> or <kbd>nhs.wales.uk</kbd> email address. Emails from any other addresses will be automatically deleted. If you do not have one of these email addresses, ask your local IT helpdesk to provide one.</p>
  

  
<p>To request PDF versions of the forms, you’ll need to send us the following information:</p>
   
<ul class="govuk-list govuk-list--bullet">
  <li>your work address and phone number</li>
  <li>your <kbd>nhs.net</kbd> or <kbd>nhs.wales.uk</kbd> email address</li>
  <li>a list of medical professionals using the same email address who can complete the SR1 form</li>
  <li>whether you need just the SR1 form or the fee claim form as well</li>

</ul>

<p>Email this information with your request to <a href="#">form.e-sr1@dwp.gov.uk</a>.</p>
<p>Do not encrypt any part of the email.</p>
{% endblock %}
