{% extends "layout.html" %}

{% block pageTitle %}
The service is temporarily unavailable - Send an SR1 - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Please try again shortly
      </h1>

   

      <p>If the problem continues, you can complete PDF versions of the SR1 and the fee claim forms online. You do not need to sign them, but you’ll need to return them to us from an <kbd>nhs.net </kbd> or <kbd>nhs.wales.uk</kbd> email address. Emails from any other addresses will be automatically deleted. If you do not have one of these email addresses, ask your local IT helpdesk to provide one.</p>

      <p>Sign in to the NHS Spine Portal and try launching the SR1 service again. If you’re still not able to log in, you can complete a PDF version of the SR1 form and the fee claim form which you can email back to us.</p>

      <p>The PDF versions do not need a signature, but you’ll need to return them from an <kbd>nhs.net</kbd> or an <kbd>nhs.wales.uk</kbd> email address. Emails from any other addresses will be automatically deleted. If you do not have one of these email addresses, ask your local IT helpdesk to provide one.</p>
      
      <p>Please provide the following information by e-mail from your current NHS.net or nhs.wales.uk email address:</p>

  

  
<h2 class="govuk-heading-m">Clerical return</h2>
   
<ul class="govuk-list govuk-list--bullet">
  <li>your work address and phone number</li>
  <li>your <kbd>nhs.net</kbd> or <kbd>nhs.wales.uk</kbd> email address</li>
  <li>a list of medical professionals using the same email address who can complete the SR1 form</li>
  <li>whether you need just the SR1 form or the fee claim form as well</li>

</ul>

<p>Email this information with your request to <a href="#">form.e-sr1@dwp.gov.uk</a>.</p>
<p>Do not encrypt any part of the email.</p>
{% endblock %}
