{% extends "layout.html" %}

{% block pageTitle %}
Accessibility statement for Send an SR1 - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Accessibility statement for Send an SR1
      </h1>

      <h2 class="govuk-heading-m">Using this service</h2>

      <p>This service is run by the Department for Work and Pensions (DWP). We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>

   
<ul class="govuk-list govuk-list--bullet">
  <li>change colours, contrast levels and fonts</li>
  <li>zoom in up to 300% without the text spilling off the screen</li>
  <li>get from the start of the service to the end using just a keyboard</li>
  <li>get from the start of the service to the end using speech recognition software</li>
  <li>listen to the service using a screen reader</li>
</ul>

<p>We've also made the text in the service as simple as possible to understand.</p>

<p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

<h2 class="govuk-heading-m">How accessible this service is</h2>

<p>The service is using common styles, patterns and components from the <a href="http://GOV.UK">GOV.UK</a> Design System which are widely regarded as accessible.</p>


<h2 class="govuk-heading-m">What to do if you have difficulty using this service</h2>

<p>If you have difficulty using this service, <a href="https://secure.dwp.gov.uk/contact-dwp-about-accessibility/contact">contact DWP about accessibility</a>.</p>

<p>As part of providing this service, we may need to send you messages or documents. We'll ask you how you want us to send messages or documents to you, but contact us if you need them in a different format. For example, large print, audio recording or braille.</p>

<p>We’ll consider your request and get back to you in 10 days.</p>

<h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>

<p>We're always looking to improve the accessibility of this service. If you find any problems that are not listed on this page or think we're not meeting accessibility requirements, contact DWP about accessibility.</p>

<h2 class="govuk-heading-m">Enforcement procedure</h2>

<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).</p>

<h2 class="govuk-heading-m">Technical information about this service's accessibility</h2>


<p>The Department for Work and Pensions is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>



<p>This service is fully compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.</p>


<h2 class="govuk-heading-m">How we tested this service</h2>

<p>The service was last tested on 19 April 2022 and was checked for compliance with WCAG 2.1 AA. The tests were carried out by the Department for Work and Pensions.</p>

<p>Preparation of this accessibility statement.</p>


<h2 class="govuk-heading-m">How we tested this service</h2>


<p>This page was prepared on 14 July 2022 and last updated on [date].</p>
{% endblock %}
