{% extends "layout.html" %}

{% block pageTitle %}
Sorry, we cannot authorise you to use this service - Send an SR1 - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Sorry, we cannot authorise you to use this service - error 502
      </h1>

   

      <p>Only specific job roles are authorised to complete an SR1 form.</p>

      <p>These are:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>GP</li>
  <li>hospital consultant</li>
  <li>specialty doctor</li>
  <li>hospice doctor</li>
  <li>senior nurse employed at Band 7 or 8, who may be working as a clinical nurse specialist, advanced nurse practitioner or similar</li>

</ul>
<p>Your job role is checked against the job role on your NHS smart card. If you should have access to this service, make sure your smart card is correct. If it’s wrong, your IT support team will be able to help.</p>
<p>If you do not have an account to log incidents with the <a href="https://www.nhscfhservicedesk.nhs.uk%5D,">NHS National Service Desk</a> call 0300 303 5035.</p>

<h2 class="govuk-heading-m">What you can do if the problem continues</h2>

<p>You can complete PDF versions of the SR1 and the fee claim forms online. They do not need to be signed, but you’ll need to return them to us from an <kbd>nhs.net</kbd> or <kbd>nhs.wales.uk</kbd> email address. Emails from any other addresses will be automatically deleted. If you do not have one of these email addresses, ask your local IT helpdesk to provide one</p>

<p>To request PDF versions of the forms, you’ll need to send us the following information:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your work address and phone number</li>
  <li>your <kbd>nhs.net</kbd> or <kbd>nhs.wales.uk</kbd> email address</li>
  <li>a list of medical professionals using the same email address who can complete the SR1 form</li>
  <li>whether you need just the SR1 form or the fee claim form as well</li>
 
</ul>
<p>Email this information to form.e-sr1@dwp.gov.uk</p>
<p>Do not encrypt any part of this email.</p>
{% endblock %}
