{% extends "layout.html" %}

{% block pageTitle %}
Sorry, we cannot log you in to the service - Send an SR1 - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Sorry, we cannot log you in to the service
      </h1>

   

      <p>This might be due to a technical problem.</p>

      <p>Sign in to the NHS Spine Portal and try launching the SR1 service again. If you’re still not able to log in, you can complete a PDF version of the SR1 form and the fee claim form which you can email back to us.</p>

      <p>The PDF versions do not need a signature, but you’ll need to return them from an <kbd>nhs.net</kbd> or an <kbd>nhs.wales.uk</kbd> email address. Emails from any other addresses will be automatically deleted. If you do not have one of these email addresses, ask your local IT helpdesk to provide one.</p>

      <h2 class="govuk-heading-m">How to get a PDF version of the SR1 form</h2>

      <p>You’ll need to send us the following information:</p>

   
<ul class="govuk-list govuk-list--bullet">
  <li>your work address and phone number</li>
  <li>your <kbd>nhs.net</kbd> or <kbd>nhs.wales.uk</kbd> email address</li>
  <li>a list of medical professionals using the same email address who can complete the SR1 form</li>
  <li>whether you need just the SR1 form or the fee claim form as well</li>

</ul>

<h2 class="govuk-heading-m">More information about this issue</h2>

<p>Email this information with your request to <a href="#">form.e-sr1@dwp.gov.uk</a>.</p>
<p>Do not encrypt any part of the email.</p>
{% endblock %}
