{% extends "layout.html" %}

{% block pageTitle %}
Sorry, there is a problem - Send an SR1 - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Sorry, there is a problem
      </h1>

   

      <p>We were unable to authenticate you from the NHS Spine portal.</p>

      <p>Please ring the NHS National Service Desk on 0300 303 5035 for guidance on how to resolve the issue.</p>

<p>Or email https://nww.nhscfhservicedesk.nhs.uk.</p>


{% endblock %}
