{% extends "layout.html" %}

{% block pageTitle %}
Guidance for the SR1 form - Send an SR1 - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Guidance for the SR1 form
      </h1>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#what-are-special-rules">What the Special Rules are for</a>
        </li>
        <li>
          <a class="govuk-link" href="#why-special-rules-needed">Why the Special Rules are needed</a>
        </li>
        <li>
          <a class="govuk-link" href="#providing-medical-evidence-using-sr1">Providing medical evidence using the SR1 form</a>
        </li>
        <li>
          <a class="govuk-link" href="#patients-may-not-know-true-nature-of-illness">Patients who may not know the true nature of their illness</a>
        </li>
        <li>
          <a class="govuk-link" href="#completing-sr1-form">Completing the SR1 form</a>
        </li>
        <li>
          <a class="govuk-link" href="#clinical-indicators">Using clinical indicators</a>
        </li>
       
        <li>
          <a class="govuk-link" href="#more-information">Where to get more information</a>
        </li>
        <li>
          <a class="govuk-link" href="#need-to-clarify-information">What we’ll do if we need to clarify any information you’ve given</a>
        </li>

        <li>
          <a class="govuk-link" href="#who-can-make-claims-on-behalf-of-patients">Who can make claims on behalf of patients</a>
        </li>

        <li>
          <a class="govuk-link" href="#claiming-a-fee">Claiming a fee</a>
        </li>
        <li>
          <a class="govuk-link" href="#returning-the-sr1-form"">Returning the SR1 form</a>
        </li>
    

      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a id="changes-to-special-rules"></a>What the Special Rules are for</h2>

      <p class='govuk-body'>The Special Rules allow people nearing the end of life to:</p>
  
      <ul class="govuk-list govuk-list--bullet">
        <li>get faster, easier access to certain benefits</li>
        <li>get higher payments for certain benefits</li>
        <li>avoid a medical assessment</li>
      </ul>
      <p class='govuk-body'>An adult or child is nearing the end of life when they are likely to have less than 12 months to live.</p>

      <p class='govuk-body'>A person who is likely to have less than 12 months to live can make a fast-tracked claim for any of the following benefits (for which they are eligible):</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/pip">Personal Independence Payment (PIP)</a></li>
        <li><a href="https://www.gov.uk/universal-credit">Universal Credit (UC)</a></li>
        <li><a href="https://www.gov.uk/employment-support-allowance">Employment and Support Allowance (ESA)</a></li>
        <li><a href="https://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA)</a></li>
        <li><a href="https://www.gov.uk/attendance-allowance">Attendance Allowance (AA)</a></li>
      </ul>

      <p class='govuk-body'>Clinicians can be asked to provide medical evidence on an SR1 form to support a benefit claim made under the Special Rules.</p>


      <p class='govuk-body'>A clinician should complete an SR1 form promptly if they believe that their patient:</p>


      <ul class="govuk-list govuk-list--bullet">
        <li>has a progressive disease, and</li>
        <li>as a consequence of that disease, it would not be a surprise if their patient were to die within 12 months</li>
    
      </ul>

      <p class='govuk-body'>A clinician may be a:</p>


      <ul class="govuk-list govuk-list--bullet">
        <li>GP</li>
        <li>hospital consultant</li>
        <li>specialty doctor</li>
        <li>hospice doctor</li>
        <li>senior specialist nurse (such as a clinical nurse specialist, advanced nurse practitioner or similar)</li>
        </ul>

        <p class='govuk-body'>The Special Rules apply to anyone who may be nearing the end of life due to age or illness. There are no negative consequences for the clinician or patient if a patient who claims under the Special Rules lives longer than expected.</p>

      <div class="govuk-!-padding-bottom-1"></div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a id="why-special-rules-are-needed"></a>Why the special rules are needed</h2>

      <p class='govuk-body'>The 12-month, end of life approach used in the Special Rules means that the DWP is aligned with the NHS, where the definition of ‘end of life’ states that “patients are approaching the end of life when they are likely to die within the next 12 months”.</p>
     
      <p class='govuk-body'>Clinicians are encouraged to identify patients who have reached the final year of their life and use a holistic approach to consider the support that their patient may require at this point. The alignment of the definition across welfare and health services allows clinicians to include conversations about financial support in wider conversations about ‘what matters most’ to their patient, thus being more responsive to their needs.</p>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-m"><a id="providing-medical-evidence-using-sr1"></a>Providing medical evidence using the SR1 form</h2>

      <p class='govuk-body'>It’s important that you know about your patient’s condition. It may be appropriate to complete an SR1 form:</p>


      <ul class="govuk-list govuk-list--bullet">
        <li>to encourage your patient to see what financial support they may be entitled to</li>
        <li>following a conversation about <a href="https://www.england.nhs.uk/publication/universal-principles-for-advance-care-planning/">advance care planning</a></li>
        <li>as part of an assessment about current social and financial issues</li>
        <li>if requested by your  patient or their representative</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a id="patients-may-not-know-true-nature-of-illness"></a>Patients who may not know the true nature of their illness</h2>

      <p class='govuk-body'>If a patient asks for an SR1 form to be completed, do not assume they understand the Special Rules criteria or that these criteria may apply to them. It could be an opportunity to explore their understanding of their condition, begin a discussion about <a href="https://www.england.nhs.uk/publication/universal-principles-for-advance-care-planning/">advance care planning</a> or document what matters most to them.</p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-m"><a id="completing-sr1-form"></a>Completing the SR1 form</h2>
      <p class='govuk-body'>The SR1 form asks for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>diagnosis/diagnoses and other relevant conditions</li>
        <li>date of diagnosis</li>
        <li>whether the patient is aware of their diagnosis and prognosis</li>
        <li>date your patient is thought to have met the Special Rules*</li>
        <li>clinical features that indicate a severe progressive condition (for example, investigation results, staging if appropriate)</li>
        <li>information about treatment that has been received, is ongoing or is planned</li>
        <li>clinician’s details, including GMC/NMC number</li>
        </ul>
        <p class='govuk-body'>*This could be the date of diagnosis, the date the form is being completed or any date in between. If you don’t know the exact date, you can use the 1st of the month. Providing this information will ensure your patient is paid from the correct date.</p>
        <p class='govuk-body'>You do not need to give a specific prognosis. Please use language that you would normally use when communicating with other clinicians.</p>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h2 class="govuk-heading-m"><a id="clinical-indicators"></a>Using clinical indicators</h2>

        <p class='govuk-body'>Determining life expectancy in these circumstances is not an exact science. The following indicators may suggest that a patient is eligible under the Special Rules:</p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>advanced, progressive illness</li>
          <li>rapid or gradual deterioration of an incurable or terminal condition</li>
      
          <li>worsening symptoms despite optimal treatment or management</li>
          <li>(severe) degenerative condition</li>
          <li>metastatic disease</li>
          <li>inoperable cancer</li>
          <li>severe frailty</li>
          <li>death is imminent, death is inevitable</li>
          <li>a high risk of sudden death with an underlying deteriorating condition</li>
        </ul>


        <p class='govuk-body'>Patients may be eligible for the Special Rules when receiving ongoing or palliative treatment. In some circumstances, there may not be any treatment options available that would significantly alter prognosis.</p>
        <p class='govuk-body'>Your patient’s claim is likely to be helped if you include relevant information such as:</p>


      <ul class="govuk-list govuk-list--bullet">
     
        <li>no or poor response to treatment</li>
        <li>palliative care or palliative treatment in any form including palliative chemotherapy, immunotherapy or radiotherapy</li>
        <li>receiving symptom control and/or psychosocial support only</li>
        <li>no further treatment planned/available</li>
        <li>treatment is declined</li>
        <li>treatment ongoing but unlikely to alter prognosis</li>
     

  
        </ul>

        <p class='govuk-body'>The Special Rules criteria do not only apply to patients with cancer. They also apply to other severe, life-limiting conditions, such as:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>end-stage respiratory disease (for example, COPD, pulmonary fibrosis)</li>
          <li>end-stage heart disease</li>
          <li>end-stage dementia</li>
          <li>severe frailty</li>
         
        
          <li>end-stage liver disease</li>
          <li>end-stage renal failure</li>
          <li>end-stage neurological disease (for example, Motor Neurone Disease, Multiple Sclerosis, Huntington’s Disease)</li>
          <li>end-stage cystic fibrosis</li>
         
         
        
          </ul>

          <p class='govuk-body'>This list is not exhaustive.</p>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


          <h2 class="govuk-heading-m"><a id="more-information"></a>Where to get more information</h2>

          <p class='govuk-body'>You can find information about general or disease-specific indicators, advance care planning, palliative care initiatives and NICE guidelines on these websites:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Supportive and Palliative Care Indicators Tool (SPICT™) <a href="#"></a>SPICT_April-2019.pdf</li>
            <li>The Gold Standards Framework Proactive Identification Guidance (PIG) <a href="https://www.england.nhs.uk/blog/renewing-our-ambitions-for-palliative-and-end-of-life-care/">Proactive Identification Guidance v7 (2022).pdf</a></li>
            <li>Universal Principles for Advance Care Planning (ACP) <a href="https://www.england.nhs.uk/publication/universal-principles-for-advance-care-planning/">NHS England: Palliative and end of life care</a></li>
            <li>The Daffodil Stanards <a href="https://www.rcgp.org.uk/learning-resources/daffodil-standards">The Daffodil Stanards</a></li>
            <li>Ambitions for Palliative and End of Life Care <a href="https://www.england.nhs.uk/eolc/">NHS England: Renewing our ambitions for palliative and end of life care</a></li>
           
            <li>NHSE/I Delivery Plan for Palliative and End of Life Care <a href="https://www.england.nhs.uk/eolc/">NHS England: Palliative and end of life care</a></li>
            <li>NICE Quality Standard for End of Life Care <a href="https://www.nice.org.uk/guidance/qs13/chapter/Quality-statement-1-Identification">Quality statement 1: Identification | End of life care for adults | Quality standards | NICE</a></li>
           
            <li>NICE Guideline for End of Life Care: Service Delivery <a href="https://www.nice.org.uk/guidance/ng142">Overview | End of life care for adults: service delivery | Guidance | NICE</a></li>

            <li>What matters to you conversations <a href="https://www.whatmattersconversations.org/">What matters to you conversations</a></li>
       


            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <h2 class="govuk-heading-m"><a id="need-to-clarify-information"></a>What we will do if we need to clarify any information</h2>

            <p class='govuk-body'>The DWP relies on the judgement of clinicians when they complete an SR1 form. However, a clinician may be contacted by a practitioner working for one of our clinical assessment providers if:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>information provided on the SR1 form needs to be clarified required to help with a decision about the claim</li>
              <li>an individual has made a claim under the Special Rules but has not submitted an SR1 form and clinical information is required to support the claim</li>
            
              </ul>

              <p class='govuk-body'>Because we need to deal with these claims urgently, the healthcare professional will usually make contact by phone.</p>

              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
              <h2 class="govuk-heading-m"><a id="who-can-make-claims-on-behalf-of-patients"></a>Who can make claims on behalf of patients</h2>



            <ul class="govuk-list govuk-list--bullet">
              <li>For UC and ESA, only an appointee or a person who has power of attorney can make a third party claim on the patient’s behalf</li>
              <li>For DLA, PIP and AA, any person representing the patient can make a third party claim on their behalf, even if the patient is unaware that a claim is being made</li>
            
              </ul>

              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
              <h2 class="govuk-heading-m"><a id="claiming-a-fee"></a>Claiming a fee</h2>

              <p class='govuk-body'>If you're a GP or GMC registered consultant, you can claim a fee for completing an SR1 form by completing a separate fee form.</p>

              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
              <h2 class="govuk-heading-m"><a id="returning-the-sr1-form"></a>Returning the SR1 form</h2>

              <p class='govuk-body'>You can return the SR1 form through the NHS Spine Portal, by email or by post.</p>

              <h3 class="govuk-heading-s">Through the NHS Spine Portal</h3>

              <p class='govuk-body'>This service is available from the NHS Portal on your desktop. You’ll need an NHS smartcard to access the service. Once you have accessed the NHS Portal, click on ‘Launch Digital SR1 Service’ and complete the SR1 form online.</p>

              <p class='govuk-body'>Once you have submitted the SR1 form online, you can download a copy and save it to your patient’s medical record.</p>
              <p class='govuk-body'>You can also download a fee form if required. This can be returned by post to:</p>
             <p>Personal Independence Payment (10)
                <br>Mail Handling Site A
              <br>Wolverhampton
            <br>WV98 1AE</p>

              <h3 class="govuk-heading-s">By email</h3>
              <p class='govuk-body'>To get an electronic version of the SR1 form and the fee form,  you’ll need to send a request from a secure email address with this information:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>surgery/hospital/office postal address</li>
                <li> phone number</li>
          
                </ul>
              <p class='govuk-body'>Secure email addresses end in:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li><kbd>@nhs.net</kbd></li>
                <li><kbd>@nhs.uk</kbd></li>
                <li><kbd>@nhs.scot</kbd></li>
                <li><kbd>@nhs.wales.uk</kbd></li>
                <li><kbd>@[x].gov.uk</kbd></li> 
                </ul>

                     

                 

                <p>Send completed SR1 forms to <a href="#">form.e-sr1@dwp.gov.uk.</a></p> 
                <p>The SR1 can be saved to your device.</p>
      
                <p class='govuk-body'>Do not encrypt any part of the email. Any email that does not come from a secure email account will be automatically deleted.</p>   
                <p class='govuk-body'>No signature is required on either form for this method of return.</p>    

                <h3 class="govuk-heading-s">By post</h3>

                <p class='govuk-body'>You can order a book of paper SR1 forms using this order form: [link TBC], which should be sent with a covering letter on headed paper.</p>     
                
                <p>Do not print the electronic version of the SR1 form.</p>

                <p>Only original signed copies of these forms will be accepted by post.</p>
                <p>Include in the letter a list of clinicians who may complete the SR1 form.</p>
                <p>The order form and cover letter can be either faxed to HH Global Limited on 0300 373 0125 or emailed to <a href="dwp@hhglobal.com">dwp@hhglobal.com</a> from a secure email address (see above).</p>
                <p class='govuk-body'>If you have any questions about this process, call the HH Global Limited helpline on 0333 016 9656.</p> 

                <p class='govuk-body'>There are 2 options for returning the forms to us:</p>      

                <ul class="govuk-list govuk-list--bullet">
                  <li>give the SR1 form to the person who requested it and return the fee form separately to us, or</li>
                  <li>post the completed SR1 form and fee form directly to:</li>
                  <p>Personal Independence Payment (10)
                    <br>Mail Handling Site A
                  <br>Wolverhampton
                <br>WV98 1AE</p>
                
                </ul>
                <p>When returning SR1 forms, please use a separate envelope for each patient. Do not staple documents together.</p>
            
                <!-- 
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
              <h2 class="govuk-heading-m"><a id="claiming-a-fee"></a>Requesting paper SR1 forms</h2>

              <p class='govuk-body'>It’s easier and quicker to complete an SR1 form online but if you’re unable to access the online service, we can accept paper versions.</p> 
              <p class='govuk-body'>Requests for a book of paper SR1 forms must be made on this <a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fassets.publishing.service.gov.uk%2Fgovernment%2Fuploads%2Fsystem%2Fuploads%2Fattachment_data%2Ffile%2F1054681%2Fexternal-order-form-for-dwp-information-materials.docx&wdOrigin=BROWSELINK">order form for DWP information materials (opens in a new tab)</a>.</p> 

              <p class='govuk-body'>Return the form along with a cover letter on headed paper. The cover letter should include a list of clinicians who may complete SR1 forms.</p> 
              <p class='govuk-body'>Return the order form and cover letter by:</p> 

              <ul class="govuk-list govuk-list--bullet">
                <li>post to [address]</li>
                <li>fax to HH Global Limited on 0300 373 0125</li>
                <li>email to <a href="dwp@hhglobal.com">dwp@hhglobal.com</a>via a secure email account</li>
              
              </ul> -->
            
{% endblock %}
