{% extends "layout.html" %}

{% block pageTitle %}
Report a terminally ill patient (DS1500) - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="2final-sr1-or-ratip.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row-2">
       
    </style>
    <h1 class="govuk-heading-xl">
      You will need to complete an SR1 form for your patient who may have 6 to 12 months left to live
    </h1>


      
    <p class="govuk-body">You can either complete the form electronically or send us a paper copy. </p>
        

        <h2 class="govuk-heading-m">Our preferred method of return is via email. </h2>

        <p class="govuk-body">You can complete an electronic version of the SR1 form and fee form and submit it to us at  <a href="mailto:e-SR1@dwp.gov.uk">e-SR1@dwp.gov.uk</a>via a secure email system. </p>  
        <p class="govuk-body">Secure email addresses end in @nhs.net, @nhs.uk, @wales.nhs.uk, @nhs.scot and ex.gov.uk
        </p>    
        <p class="govuk-body">Do not encrypt any part of the email. Any email that does not come from a secure email account will be automatically deleted. 
        </p>    
        <h2 class="govuk-heading-m">Other methods of return</h2>
        
        <p class="govuk-body">There are 2 options:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>give the SR1 form to your patient (or their representative who is an appointee or a person who has power of attorney) who asked you to complete it. You will need to return the fee form separately to us</li>

          <li>send the completed SR1 form and fee form if you have one to <a href="#">your local Jobcentre Plus office</a></li>
        </ul>

        <p class="govuk-body">Only original signed copies of will be accepted.</p>  
        <p class="govuk-body">Use a separate envelope for each patient and do not staple documents together.</p>  


        <h2 class="govuk-heading-m">How to get a form</h2>

      <p class="govuk-body">You can <a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fassets.publishing.service.gov.uk%2Fgovernment%2Fuploads%2Fsystem%2Fuploads%2Fattachment_data%2Ffile%2F1054681%2Fexternal-order-form-for-dwp-information-materials.docx&wdOrigin=BROWSELINK">order a book of paper copies</a> or get an electronic version by emailing <a href="mailto:SR1@dwp.gov.uk">SR1@dwp.gov.uk.</a></p>

      <p class="govuk-body">Secure email addresses end in @nhs.net, @nhs.uk, @wales.nhs.uk, @nhs.scot and @[x].gov.uk</p>

      <p class="govuk-body">We need to know:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your surgery, hospital or office postal address and telephone number</li>

        <li>whether you need the SR1 form and the fee form, or the SR1 form only</li>
        <li>A list of medical professionals who may complete the SR1 forms</li>
      </ul>

   
     
 
  



</div>
</div>




    <div class="govuk-grid-column-one-third">

      <div class="govuk-inset-text">
        <h5 class="govuk-heading-m">Get help</h5>

        <div class="govuk-!-padding-bottom-1"></div>
        <a href="sr1-guidance.html" class="govuk-link" rel="noreferrer noopener" target="_blank">Guidance for DS1500 and SR1 (opens in new tab)</a>
  

        <div class="govuk-!-padding-bottom-3"></div>
        <h6 class="govuk-heading-s">Telephone</h6>

        <ul class="govuk-list">
          <li>0300 303 5035</li>
          <li>24-hour service</li>
        </ul>

        <h6 class="govuk-heading-s">Email</h6>

        <ul class="govuk-list">
          <li><a href="ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
          <li>24-hour service</li>
        </ul>
      </div>

    </div>
    </div>

{% endblock %}
