{% extends "layout.html" %}

{% block pageTitle %}
Details - Send an SR1 - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Guidance for the SR1 form
      </h1>

     


      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#what-are-special-rules">What the Special Rules are for</a>
        </li>
        <li>
          <a class="govuk-link" href="#changes-to-special-rules">Changes to the Special Rules process in September 2022</a>
        </li>
        <li>
          <a class="govuk-link" href="#guidance-for-sr1">Guidance for completing the SR1 form</a>
        </li>
        <li>
          <a class="govuk-link" href="#medical-sr1">Using the SR1 form to provide medical evidence</a>
        </li>
        <li>
          <a class="govuk-link" href="#clinical-indicators">Using clinical indicators</a>
        </li>
        <li>
          <a class="govuk-link" href="#information-clarity">What we’ll do if we need to clarify information you’ve given</a>
        </li>

        <li>
          
          <a class="govuk-link" href="#claims-on-behalf">Claims made on behalf of patients</a>
        </li>
        <li>
          <a class="govuk-link" href="#benefits-under-special-rules">Claiming a fee</a>
        </li>
        <li>
          <a class="govuk-link" href="#returning-sr1">Returning the SR1 form</a>
        </li>
       

    

      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-m"><a id="what-are-special-rules"></a>What the Special Rules are for</h2>

      <p class='govuk-body'>The Special Rules allow people nearing the end of life to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>get faster, easier access to some benefits</li>
        <li>get higher payments for some benefits</li>
        <li>avoid a medical assessment</li>
      </ul>
  
      <p class='govuk-body'>These rules were previously called the Special Rules for Terminal Illness (SRTI) and applied to people who had 6 months or less to live. They have been renamed the Special Rules for End of Life (SREL) and apply to people who have 12 months or less to live.</p>

<p>Clinicians are encouraged to identify patients who have reached this stage of their life and to use a holistic approach to consider what support their patient may require. The benefit of alignment is for financial support to be included in wider conversations about ‘what matters most’ to each patient, helping to meet their individual needs.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-m"><a id="changes-to-special-rules"></a>Changes to the Special Rules process in September 2022</h2>

    


        <p class='govuk-body'>In September 2022 the DWP widened the eligibility criteria to include people who are likely to have less than 12 months to live. This allows them to make fast-tracked claims for:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Universal Credit (UC)</li>
            <li>Employment and Support Allowance (ESA)</li>
            <li>Disability Living Allowance (DLA)</li>
            <li>Attendance Allowance (AA)</li>
            <li>Personal Independence Payment (PIP)</li>
          </ul>

          <h3 class="govuk-heading-s">Why the Special Rules have changed</h3>

          <p class='govuk-body'>This change has allowed the DWP to align with the current NHS/GMC definition of ‘end of life’ which states that ‘patients are approaching the end of life when they are likely to die within the next 12 months.’ </p>

         
              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <h3 class="govuk-heading-m"><a id="guidance-for-sr1"></a>Guidance for completing the SR1 form</h3>
      <p class='govuk-body'>Clinicians can be asked to provide medical evidence on an SR1 form to support a benefit claim made under the Special Rules.</p>




      <p class='govuk-body'>A clinician may be a:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>GP</li>
        <li>hospital consultant</li>
        <li>speciality doctor</li>
        <li>hospice doctor</li>
        <li>senior nurse (employed at Band 7 or 8, who may be working as a clinical nurse specialist, advanced nurse practitioner or similar)</li>
      </ul>

      <p class='govuk-body'>Clinicians should complete an SR1 form promptly if they believe that their patient:</p>
      <ul class="govuk-list govuk-list--bullet">
 
        <li>has a progressive disease, and</li>
        <li>you would not be surprised if they were to live for less than 12 months</li>
      
    </ul>
      <p class='govuk-body'>There are no negative consequences if a patient who claims under the Special Rules lives longer than expected.</p>

    
      <div class="govuk-!-padding-bottom-1"></div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-m"><a id="medical-sr1"></a>Providing medical evidence using the SR1 form</h2>
<p>It’s important that you know about your patient’s condition.</p>
<p>The SR1 form asks for details of:</p>
<ul class="govuk-list govuk-list--bullet">
 
  <li>diagnosis/diagnoses and other relevant conditions</li>
  <li>whether the patient is aware of their diagnosis and prognosis</li>
  <li>clinical features that indicate a severe progressive condition (for example, investigation results, staging if appropriate etc.)</li>
  <li>information about treatment that has been received, is ongoing or planned</li>

</ul>
<p>You do not need to give a specific prognosis. Please use language that you would normally use when communicating with other clinicians. </p>


<div class="govuk-!-padding-bottom-1"></div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-m"><a id="clinical-indicators"></a>Using clinical indicators</h2>



<p class='govuk-body'>Determining life expectancy in these circumstances is not an exact science. The following indicators may suggest that a patient is eligible under the Special Rules:</p>
<ul class="govuk-list govuk-list--bullet">

  <li>advanced, progressive illness</li>
  <li>worsening symptoms despite optimal treatment or management</li>
  <li>(severe) degenerative condition</li>
  <li>deterioration of incurable condition</li>
  <li>rapid decline</li>
<li>metastatic disease</li>
<li>inoperable cancer</li>
<li>severe frailty</li>
<li>death is imminent, death is inevitable</li>
<li>a high risk of sudden death with an underlying deteriorating condition</li>
</ul>
<p class='govuk-body'>Patients may be eligible for the Special Rules when receiving ongoing or palliative treatment. In some circumstances, there may not be any treatment options available that would significantly alter prognosis.</p>


<p class='govuk-body'>Your patient’s claim is likely to be helped if you include relevant information such as:</p>
<ul class="govuk-list govuk-list--bullet">

  <li>no or poor response to treatment</li>
  <li>palliative care or palliative treatment in any form including palliative chemotherapy, immunotherapy or radiotherapy</li>
  <li>receiving symptom control and/or psychosocial support only</li>
  <li>no further treatment planned/available</li>
  <li>treatment is declined</li>
<li>treatment ongoing but unlikely to alter prognosis</li>
</ul>

<p class='govuk-body'>The Special Rules criteria do not only apply to patients with cancer. They also apply to other severe, life-limiting conditions, such as end stage:</p>
<ul class="govuk-list govuk-list--bullet">

  <li>respiratory disease (such as COPD, pulmonary fibrosis)</li>
  <li>heart disease</li>
  <li>dementia</li>
  <li>liver disease</li>
  <li>renal failure</li>
<li>neurological disease (such as advancing Motor Neurone disease, Multiple Sclerosis)</li>
<li>cystic fibrosis</li>
</ul>

<p>As well as:</p>
<ul class="govuk-list govuk-list--bullet">

  <li>advanced Huntington's disease</li>
  <li>severe frailty</li>
 
</ul>

<p>This list is not exhaustive. You can find information on more general or disease-specific indicators on these websites:</p>
<ul class="govuk-list govuk-list--bullet">

  <li>Supportive and Palliative Care Indicators Tool (SPICT™) <a href="file:///C:/Users/10115896/AppData/Local/Temp/MicrosoftEdgeDownloads/a673d7c6-6077-41f7-a9b3-37d6ba32f7e2/SPICT_April-2019.pdf">SPICT_April-2019.pdf</a></li>
  <li>The Gold Standards Framework Proactive Identification Guidance (PIG) <a href="file:///C:/Users/10115896/AppData/Local/Temp/MicrosoftEdgeDownloads/54c6344c-abe4-4f1b-84c1-16c94b35808d/Proactive Identification Guidance v7 (2022).pdf">Proactive Identification Guidance v7 (2022).pdf</a></li>
  <li>Ambitions for Palliative and End of Life Care <a href="https://www.england.nhs.uk/blog/renewing-our-ambitions-for-palliative-and-end-of-life-care/">NHS England » Renewing our ambitions for palliative and end of life care</a></li>
  <li>NHSE/I Delivery Plan for Palliative and End of Life Care <a href="https://www.england.nhs.uk/eolc/">NHS England » Palliative and end of life care</a></li>
  <li>NICE Quality Standard for End of Life Care  <a href="https://www.nice.org.uk/guidance/qs13/chapter/Quality-statement-1-Identification">Quality statement 1: Identification | End of life care for adults | Quality standards | NICE</a></li>
  <li>NICE Guideline for End of Life Care: Service Delivery <a href="https://www.nice.org.uk/guidance/ng142">Overview | End of life care for adults: service delivery | Guidance | NICE</a></li>
 
</ul>

<div class="govuk-!-padding-bottom-1"></div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a id="information-clarity"></a>What we’ll do if we need to clarify information you’ve given</h2>

      <p>The DWP relies on the judgement of clinicians when they complete an SR1 form. Sometimes information needs to be clarified so you may be contacted by a healthcare professional at one of our clinical assessment providers if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>clarification of some of the information on a SR1 form is required to help with a decision about the claim, or</li>
        <li>an individual has made a claim under the Special Rules process but has not submitted an SR1 form and clinical information is required to support the claim</li>
      </ul>
<p>Because we need to deal with these claims urgently, the healthcare professional will usually phone.</p>
      <div class="govuk-!-padding-bottom-1"></div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a id="claims-on-behalf"></a>Who can make claims on behalf of patients</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>UC and ESA: only an appointee or a person who has power of attorney can make a third party claim on the patient’s behalf</li>
        <li>DLA, PIP and AA: any person representing the patient can make a third party claim on their behalf, even if the patient is unaware that a claim is being made</li>
      </ul>




      <div class="govuk-!-padding-bottom-1"></div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a id="about-your-patient"></a>Claiming a fee</h2>

      <p>If you are a GP or GMC registered consultant, you can claim a fee for completing an SR1 form by completing a separate fee form.</p>
  
   

      <div class="govuk-!-padding-bottom-1"></div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a id="returning-sr1"></a>Returning the SR1 forms</h2>

      <p class='govuk-body'>You can return the SR1 form through the NHS Spine Portal, by email or by post.</p>

      <h3 class="govuk-heading-s">Through the NHS Spine portal</h3>

      <p>This service is available from the NHS Portal on your desktop. You’ll need an NHS smartcard to access the service. Once you have accessed the NHS Portal, click on ‘Launch Digital SR1 Service’ and complete the SR1 form online.</p>

      <p>Once you have submitted the SR1 form online, you can download a copy of the fee form. This can be returned by post to the address on the form.</p>
      <h3 class="govuk-heading-s">By email</h3>
<p>Complete an electronic version of the SR1 form and the fee form and email it to form.e-SR1@dwp.gov.uk using a secure email address.</p>

<p>Secure email addresses end in @nhs.net, @nhs.uk, @wales.nhs.uk, @nhs.scot and @[x].gov.uk.</p>

<p>Do not encrypt any part of the email. Any email that does not come from a secure email account will be automatically deleted. </p>

<p>No signature is required on either form for this method of return.</p>

    <p>To get a copy of the electronic version of the SR1 form and fee form, please send an
      email from your secure email address to form.e-SR1@dwp.gov.uk with details of:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your secure email address or addresses</li>
        <li>your surgery/hospital/office postal address and telephone number</li>
        <li>a list of medical professionals using the same secure email address who complete the SR1 form and/or the fee form</li>
          <li>whether you need the SR1 form and the fee form, or the SR1 form only</li>
      </ul>
   
      <h3 class="govuk-heading-s">By post</h3>
      <p>If you’ve completed a paper copy of the SR1 form or fee form, please sign it. Only 
        original signed copies of these forms will be accepted by post.</p>
        <p>There are 2 options for returning the forms to us:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>give the SR1 form to the person who requested it and return the fee form 
            separately to us, or</li>
          <li>post the completed SR1 form and fee form directly to: [address]</li>
          
        </ul>
<p>When returning SR1 forms, please use a separate envelope for each patient. Please 
  do not staple documents together.</p>
      <div class="govuk-!-padding-bottom-1"></div>

    

    
  </div>



  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Get help</h2>
     

    <h3 class="govuk-heading-s">Telephone</h3>

    <ul class="govuk-list">
      <li>0300 303 5035</li>
      <li>24-hour service</li>
    </ul>

    <h3 class="govuk-heading-s">Email</h3>

    <ul class="govuk-list">
      <li><a href="ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
      <li>24-hour service</li>
    </ul>
  </div>
</div>

{% endblock %}
