
{% extends "layout.html" %}



{% block pageTitle %}
Send an SR1 - GOV.UK
{% endblock %}





{% block beforeContent %}

{% endblock %}


{% block content %}
<div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]">
  <div class="govuk-cookie-banner__message govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on Send an SR1</h2>

        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">We use some essential cookies to make this service work.</p>
          <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button value="accept" type="button" name="cookies" class="govuk-button" data-module="govuk-button">
        Accept analytics cookies
      </button>
      <button value="reject" type="button" name="cookies" class="govuk-button" data-module="govuk-button">
        Reject analytics cookies
      </button>
      <a class="govuk-link" href="https://ds1500-f-ba.sdx.health-dev.dwpcloud.uk/cookie-policy?backto=%2Fds1500-start">View cookies</a>
    </div>
  </div>
</div>


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row-2">

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Find out about the  
              <a href="sr1-guidance.html" class="govuk-link" rel="noreferrer noopener" target="_blank">changes to the Special Rules process (opens in a new tab)</a> in the benefit system.
            </p>
          </div>
        </div>

    </style>
        <h1 class="govuk-heading-xl">
          Send an SR1 form
        </h1>
        <div class="govuk-inset-text">The SR1 form has replaced the DS1500 form. You can use it to support a benefit claim for a patient of any age made under the Special Rules.
        </div>
        <p></p>
      <p>Use this service to tell the Department of Work and Pensions (DWP) that
        you have a patient who:</p>

        <ul class="govuk-list govuk-list--bullet">
 
          <li>has a progressive disease and</li>
        
  
 
          <li>you would not be surprised if they were to live for less than 12 months</li>
        
      </ul>



   


 
  
  
<div class="govuk-button-group">
  <a href="/sr1-1/sr1-page" button class="govuk-button" data-module="govuk-button">
    <b>Start now</b>
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
  </button></a>
</div>


</div>
</div>




    <div class="govuk-grid-column-one-third">

      <div class="govuk-inset-text">
        <h5 class="govuk-heading-m">Get help</h5>

        <div class="govuk-!-padding-bottom-1"></div>
        <a href="sr1-guidance.html" class="govuk-link" rel="noreferrer noopener" target="_blank">Guidance for the SR1 (opens in new tab)</a>
  
  

        <div class="govuk-!-padding-bottom-3"></div>
        <h6 class="govuk-heading-s">Telephone</h6>

        <ul class="govuk-list">
          <li>0300 303 5035</li>
          <li>24-hour service</li>
        </ul>

        <h6 class="govuk-heading-s">Email</h6>

        <ul class="govuk-list">
          <li><a href="ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
          <li>24-hour service</li>
        </ul>
      </div>

    </div>
    </div>

{% endblock %}
